/**
 * @name Smaller Fixes
 * @author vilchu
 * @version 1.5.2
 * @description my theme consists of various theme snippets and stuff.
*/


/* ================================= */
/* ======= < OTHER IMPORT > ======= */
/* =============================== */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://ShadowDevilsAvenged.github.io/SnippetsHere/BearableInboxTempFix.css");
@import url("https://discord-theme.pages.dev/assets/snippets/watermark.css");
@import url("//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");
@import url("https://dablulite.github.io/css-snippets/NoLightInDark/import.css");
@import url("//dablulite.github.io/BetterFloatingEditor/import.css");
@import url("https://minidiscordthemes.github.io/Snippets/MinimalAuthApps/MinimalAuthApps.css");
@import url("//dablulite.github.io/css-snippets/BetterModals/import.css");
@import url("//raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css");
@import url("https://dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css");
@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");

/* icons */
@import url("//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css");


/* ================================= */
/* ======= < FONT IMPORT > =======  */
/* =============================== */
@import url("https://jatin-jindal.github.io/discordfont/DiscordFont.css");

*:not(code) {
  font-family: 'Didact Gothic Regular', sans-serif;
}


/* ================================== */
/* ======= < OTHER THINGYS > ======= */
/* ================================ */
:root {
  --focus-primary: transparent;  /* TAB COLOR THINGY */
 
  --stupid-stuff: none;
  --mention-colour: 234, 153, 153;

  /* nicer embed */
  --chattyBorderRadius: 10px;
  --chattyBlur: 5px;

  /* SettingsModal */
  --settingsmodalbackground: transparent;   /* default:    transparent        (lowest bg color of changed windows, change it in case another theme turns them transparent) */
  --settingsmodalwidth: 1030px;   /* default:    960px            (width of the settings modal, px/vw)  */
  --settingsmodalheight: 84vh;   /* default:    80vh            (height of the settings modal, px/vh) */


  /* nicer categorys */
  --catagory-background: var(--background-primary);   /* catagory background color */
  --catagory-radius: 10px;   /* catagory radius */
  --catagory-spacing: 12px;   /* Spacing between catagories */
  --seperator: none;   /* change to 'block' for seperator between home and catagories */

  /* Watermark */
  --watermark: "UwUcord";
 
  /* send message bar */
  --radius-primary: 18px;
  --radius-secondary: 12px;
  --radius-tertiary: 6px;
  --layout: calc(var(--layout-margin) / 2);
  --layout-margin: 20px;

  /* user panel thingy */
  --inner-primary: 8px;
  --inner-secondary: 12px;
  --inner-tertiary: 16px;

  /* use https://hslpicker.com/ to help pick your theme color */
  --panel-colour: hsl(225, 6%, 13%);
  --window-colour:	hsl(223, 7%, 21%);
  --text-link: hsl(240, 14%, 65%); /* link color when sending caht */

  /* channel scrollbar color */
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;

  /* bubble thingys */
  --chat-bubble-default: #00000025;
  --chat-bubble-default-hover: #00000050;
  --chat-bubble-replying: #00000025;
  --chat-bubble-replying-hover: #00000050;
  --chat-bubble-mentioned: #00000025;
  --chat-bubble-mentioned-hover: #00000050;
  --chat-bubble-border-radius: 10px;
}


/* ============================== */
/* ======= < WATERMARK > ======= */
/* ============================ */
:root:has(bd-body) .wordmark__0d178::after {
  content: var(--watermark);
}

.wordmark__0d178 {
  pointer-events: unset;
  padding: 0
}
.wordmark__0d178>svg {
  display: none
}
.wordmark__0d178::after {
  position: absolute;
  top: 4px;
  padding: 4px 9px 3px;
  font-size: 9px;
  letter-spacing:.4px;
  white-space: nowrap;
  font-family: var(--font-headline);
  content: var(--watermark);
}

/* link color */
.markup_a7e664 a {
  color: hsl(240, 38%, 75%);
}

/* =================================== */
/* ======= < WHOLE ASS LOOK > ======= */
/* ================================= */
.guilds__2b93a {
  margin: 10px;
  border-radius: 15px;
}
/*.tree__7a511>.scroller__3d071,.tree__7a511{
  background-color: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
}*/
.content__4bf10>.sidebar_ded4b5,
.chat__52833 {
  margin: 10px 13px 10px 0;
  border-radius: 15px !important;
}
.flex_f5fbb7.flex__909d4.horizontalReverse_dc209c.horizontalReverse_e078f3.flex__909d4.directionRowReverse__9f91b.justifyStart__42744.alignStretch_e239ef.noWrap__5c413.footer-31IekZ.footerSeparator-VzAYwb {
  background-color: var(--background-floating);
}


/* ============================== */
/* ======= < HOME ICON > ======= */
/* ============================ */
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
  background: url("https://i.imgur.com/RihOp3U.png") no-repeat center !important;
  background-size: cover !important;
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
  display: none;
}


/* ========================================== */
/* ======= < TEXT SELECTION COLOUR > ======= */
/* ======================================== */
::selection {
  background: hsla(240, 14%, 57%, 0.75) !important;
}
.highlight {
  background: hsla(240, 14%, 57%, 0.75) !important;
}
/* thread color */
.spine__88e6d {
  color: hsla(147, 50%, 52%, 0.993);
}


/* ======================================== */
/* ======= < HI-COLOUR MENTIONS > ======= */
/* ====================================== */
:root {
  --brand-experiment-05a: rgba(var(--mention-colour), 0.08);
}

.mentioned__58017 {
  background-color: rgba(var(--mention-colour), 0.08) !important;
}
.mentioned__58017:hover {
  background-color: rgba(var(--mention-colour), 0.1) !important;
}
div[class*='mentioned']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}
div[class*='replying']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}
.message__80c10.cozyMessage__64ce7.ephemeral_c26b64.groupStart__56db5.wrapper__09ecc.cozy_f5c119.zalgo__39311:hover {
  background-color: rgba(var(--mention-colour), 0.1)!important;
}
.message__80c10.cozyMessage__64ce7.replying_d7b6ad.wrapper__09ecc.cozy_f5c119.zalgo__39311 {
  background-color: rgba(var(--mention-colour), 0.08);
}
.message__80c10.cozyMessage__64ce7.ephemeral_c26b64.groupStart__56db5.wrapper__09ecc.cozy_f5c119.zalgo__39311::before {
  background-color: rgb(var(--mention-colour));
}
.message__80c10.cozyMessage__64ce7.ephemeral_c26b64.groupStart__56db5.selected_fd9051.wrapper__09ecc.cozy_f5c119.zalgo__39311 {
  background-color: rgba(var(--mention-colour), 0.08);
}


/* ================================= */
/* ======= < REMOVE STUFF > ======= */
/* =============================== */
div.iconWrapper_af9215.clickable_d23a1a[aria-label='Help'],
div[id='user-context-invite-to-server'],
div[id='user-context-call'],
.guildIconContainer-2FW_iA,
.children__32014::after,
.tabBarItemContainer_d74773 svg {
  display: var(--stupid-stuff) !important;
}
/* Slash command button in attachment popout */
#channel-attach-SLASH_COMMAND {
  display: none !important;
}
/* Explore */
.tutorialContainer_dc6fde+div {
  display: none;
}


/* ========================== */
/* ======= < ICONS > ======= */
/* ======================== */
/* voice  joined icon */
.iconBadge_fdf33a {
  background-color: hsl(240, 22%, 60%) !important;
}
/* notification color */
.numberBadge__50328 {
  background-color: hsl(240, 22%, 60%) !important;
}


/* ================================== */
/* ======= < REORDER STUFF > ======= */
/* ================================ */
.iconWrapper_af9215 {
  order: -1;
}


/* =============================== */
/* ======= < SEARCH BAR > ======= */
/* ============================= */
.search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search_ac353c:not(.open_d3ab4e):hover .searchBar_e0c60b {
  width: 240px;
  background-color: var(--background-tertiary);
}
.search_ac353c:not(.open_d3ab4e) .iconContainer__8fa9c {
  transform: scale(1.3);
  transition: 0.25s;
}
.search_ac353c:not(.open_d3ab4e):hover .iconContainer__8fa9c {
  transform: scale(1);
}
.icon_f50f05 {
  color: #b9bbbe;
  width: 19px;
  height: 19px;
  top: -1px;
  left: -2px;
}


/*==================================== */
/* ======= < RED DOT UNREAD > ======= */
/* ================================= */
/*.unread__48cf4 {
  z-index: 1;
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  top: 48%;
  left: 1px;
  margin-top: 0px;
  background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}*/


/* ============================================ */
/* ======= < SERVER HOVER MUTED TEXT > ======= */
/* ========================================== */
.tooltip__01384 {
  --text-muted: #d84b4b;
}


/* ===================================== */
/* ======= < SMALLER STICKERS > ======= */
/* =================================== */
.assetWrapper_f2e406 {
  width: 8vh !important;
  height: 8vh !important;
}


/* ==================================== */
/* ======= < WINDOWS BUTTONS > ======= */
/* ================================== */
:root .winButton__88672 {
  background-color: var(--window-colour);
}
:root .winButton__88672:last-child {
  border-bottom-left-radius: 8px;
}


/* ============================================ */
/* ======= < COOLER EMBEDS AND MEDIA > ======= */
/* ========================================== */
#app-mount .embedFull__8dc21 {
  background: rgba(0, 0, 0, 0.2);
  border-left: 0px;
  border-bottom: var(--chattyBorderRadius) solid;
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}
#app-mount .embedFull__8dc21 .grid_c7c4e6 {
  padding-top: 3px;
  padding-bottom: 10px;
}
#app-mount .imageWrapper_fd6587 {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
  transition: 0.2s ease-in-out;
}
#app-mount .imageWrapper_fd6587:hover {
  transform: scaleY(1.02) scaleX(1.02);
}
#app-mount .video__4c052 {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}

.accountProfileCard__22589 {
  background-color: transparent !important;
  background: transparent !important;
  backdrop-filter: blur(var(--chattyBlur)) brightness(0.7) !important;
  border-radius: var(--chattyBorderRadius) !important;
}
.accountProfileCard__22589 {
  box-shadow: 0px 0px 20px black !important;
}


/* ========================================= */
/* ======= < FULL COLOURED EMBEDS > ======= */
/* ======================================= */
.embedFull__8dc21 {
  overflow: hidden;
  background: var(--background-primary);
  border-left: none;
  /*border-top: 4px solid var(--background-tertiary);*/
  z-index: 0;
}
.embedFull__8dc21::before {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  width: 0;
  border-right: 100vw solid transparent;
  border-color: inherit;
  opacity: 0.15;
  z-index: -1;
}
/* Embeds */
.embedFull__8dc21 {
	overflow: hidden;
	border-left: none;
	z-index: 0;
	border-radius: var(--chat-bubble-border-radius);
	/*width: fit-content;*/
	background-color: inherit;
	margin: 0.25em 0.125em 0 !important
}
.embedFull__8dc21:hover {
	filter: brightness(1.2) 
}
.embedFull__8dc21::before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	z-index: -1
}
.embedFull__8dc21::after {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: #00000099;
	z-index: -1;
}


/* ==================================== */
/* ======= < BUBBLE MESSAGES > ======= */
/* ================================== */
.channelTextArea__2e60f {
	background-color: transparent 
}
/*.messageListItem__6a4fb {
	margin-left: 10px 
}*/
/*.zalgo__39311:has(.contents_f41bb2) {
	max-width: fit-content 
}*/
.contents_f41bb2 .avatar__08316 {
	margin-top: calc(5px - 0.125em);
	scale: 1.15 
}
.contents_f41bb2 [class*=avatarDecoration-] {
	margin-top: calc(2px - 0.125em);
	scale: 1.15 
}
.highlighted__5f454:hover, .replying_d7b6ad:hover {
	position: relative;
}
.groupStart__56db5.cozyMessage__64ce7:not(.systemMessage__6e6a4) .contents_f41bb2>.markup_a7e664, 
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
	margin: 0.125em 0;
	padding: 0.5em;
	border-radius: var(--chat-bubble-border-radius);
	background: var(--chat-bubble-default);
	max-width: max-content;
}
.groupStart__56db5.cozyMessage__64ce7:not(.systemMessage__6e6a4) .contents_f41bb2>.markup_a7e664:hover, 
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2:hover>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
	background: var(--chat-bubble-default-hover) 
}
.groupStart__56db5.cozyMessage__64ce7.replying_d7b6ad>.contents_f41bb2, 
.cozyMessage__64ce7.replying_d7b6ad:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *), 
.replying_d7b6ad .container_dbadf5>:not(.reactions_fba1d8, .searchResultsWrap__9f374 *) {
	background: var(--chat-bubble-replying);
	border-radius: var(--chat-bubble-border-radius);
	max-width: max-content
}
.scrollableContainer__33e06 {
	background: transparent 
}
.groupStart__56db5.cozyMessage__64ce7.replying_d7b6ad>.contents_f41bb2:hover, 
.cozyMessage__64ce7.replying_d7b6ad:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *):hover, 
.replying_d7b6ad .container_dbadf5>:not(.reactions_fba1d8, .searchResultsWrap__9f374 *):hover {
	background: var(--chat-bubble-replying-hover)
}
/*.groupStart__56db5.cozyMessage__64ce7.mentioned__58017>.contents_f41bb2,*/ 
.cozyMessage__64ce7.mentioned__58017:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *)/*, 
.mentioned__58017 .container_dbadf5>:not(.reactions_fba1d8, .searchResultsWrap__9f374 *)*/ {
	background: var(--chat-bubble-mentioned);
	border-radius: var(--chat-bubble-border-radius)
}
/*.groupStart__56db5.cozyMessage__64ce7.mentioned__58017>.contents_f41bb2:hover,*/ 
.cozyMessage__64ce7.mentioned__58017:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *):hover/*, 
.mentioned__58017 .container_dbadf5>:not(.reactions_fba1d8, .searchResultsWrap__9f374 *):hover*/ {
	background: var(--chat-bubble-mentioned-hover)
}


/* ================================= */
/* ======= < ROLE COLOURS > ======= */
/* =============================== */
.role__631a3 {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: 0.4;
  border-radius: 7px;
}
.role__631a3 .roleRemoveIcon__7f63d {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
.role__631a3 .roleRemoveButton__737f2 {
  position: static;
}
.role__631a3 .roleCircle_bae511:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}


/* ========================================= */
/* ======= < ROUNDED CONTEXT MENU > ======= */
/* ======================================= */
.menu_dc52c6 {
  position: relative;
  background: none;
  border-radius: 10px;
}
.menu_dc52c6:not(.menu_dc52c6.flexible__7055b.menu__5cf7f)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
}
.button__3ecb4,
.button__3ecb4:hover {
  background: none;
  backdrop-filter: blur(5px);
}
.item__183e8 {
  border-radius: 6px;
}

/* search bar */
.container_d6dad3 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(5px);
}
ul.resultsGroup_ea9b64
{
  background-color: hsl(var(--primary-700-hsl)/0.25) !important;
  backdrop-filter: blur(5px);
}
#SEARCH_OPTIONS-header, #HISTORY-header {
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 1000;
  text-decoration: solid 2px underline var(--text-danger);
  text-underline-position: under;
  padding-top: 10px;
}
.option_b5597b {
  --search-popout-option-fade: linear-gradient(90deg, transparent, var(--popout-bg) 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg, transparent, var(--item-hover-bg) 50%);
}


/* ===================================== */
/* ======= < SEND MESSAGE BAR > ======= */
/* =================================== */
.chat_f9a759 .textArea__74543,
.chat__52833 .textArea__74543 {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  order: 0;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc((var(--layout-margin) / 2) + (var(--layout-margin) / 2));
}
.chat__52833 .buttons_ce5b56:not(.attachButton_eba568.wrapper__07bba) {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  order: 3 !important;
  background: var(--background-secondary);
  border-radius: 90px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto !important;
}
.attachButton_b1db83.attachButton_eba568.button_afdfd9.lookBlank__7ca0a.colorBrand_b2253e.grow__4c8a4,
.attachWrapper__6354f .lookBlank-21BCro {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}

#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app_b1f720>div>div.layers__1c917.layers_a23c37>div>div.container__037ed>div>div>div:nth-child(6)>div.chat__4eed1>section>form>div.channelTextArea__2e60f.channelTextArea__56a36>div>div>div.buttons_ce5b56>div>button {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}

.chat__52833 .scrollableContainer__33e06,
.chat__1d65d .scrollableContainer__33e06 {
  background: transparent !important;
}
.wrapper_fbbb73 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout) + var(--layout)) 0px 0px 0px;
  order: -1 !important;
}
.chat__52833 .typing__6fd1d {
  order: 1;
}
.chat__52833 .base__512ed {
  height: 24px;
  left: 0px;
  right: 0px;
  padding-left: 73px;
  padding-right: 92px;
  margin-top: calc(var(--layout) + var(--layout));
}
.attachButton_eba568 {
  margin-left: 0px;
  padding: 0px;
  height: 44px;
  width: 44px;
}
.attachButton_eba568.wrapper__07bba {
  margin-right: -45px;
}
.textArea__74543.textAreaSlate_e0e383.slateContainer_b692b3:not(.attachButton_eba568.wrapper__07bba) {
  margin-right: 20px;
}

/* message bar position when no attachment button */
.textArea__74543:not(.textArea__74543.textAreaSlate_e0e383.slateContainer_b692b3) {
  margin-left: 64px !important;
}
.inner__9fd0b.innerDisabled__37f59.inner__9fd0b.sansAttachButton__996a4 {
  margin-right: 45px;
  margin-left: -15px !important;
}
.sansAttachButton__996a4:not(.inner__9fd0b.innerDisabled__37f59.inner__9fd0b.sansAttachButton__996a4) {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding-left: 0px;
}
.attachWrapper__6354f>#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app_b1f720>div>div.layers__1c917.layers_a23c37>div>div.container__037ed>div>div>div.chatLayerWrapper__29dd6>div:nth-child(2)>div.chat__4eed1>section>form>div.channelTextArea__2e60f.channelTextArea__56a36>div>div>div.attachWrapper__6354f>button {
  order: 1 !important;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: auto;
}
.chat__52833 .replyBar_b64d74,
.chat_f9a759 .replyBar_b64d74 {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
  width: 1110px;
  margin-left: 70px;
  border-radius: 10px;
}
.bar__004d9 {
  background: var(--background-secondary-alt);
  border-radius: 10px;
  width: 1080px;
  margin-left: 65px;
}
.autocomplete_df266d.outerWrapper__08924 {
  width: 1110px;
  margin-left: 70px;
}
.autocomplete_df266d.autocomplete__0c75a.autocompleteAttached_ac1f6b:not(.scroller_cc9b9a.thin_b1c063.scrollerBase_dc3aa9,
.autocompleteInner_a0e6a1.autocompleteInner__8785c) {
  width: 1105px;
  margin-left: 70px;
}
.threadSuggestionBar_b633f7 {
  width: 1500px;
  margin-left: 65px;
  border-radius: 10px;
}
.chat__52833 .attachedBars_da3c74,
.chat_f9a759 .attachedBars_da3c74 {
  order: -1;
  background: transparent;
}
.textAreaSlate_e0e383::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
  margin-top: 10px;
  margin-bottom: 10px;
}
.textAreaSlate_e0e383::-webkit-scrollbar-thumb,
.textAreaSlate_e0e383::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--radius-primary);
}
.buttonContainer__8b164 .innerButton_debeee {
  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 100%;
}
.chat__52833 .channelAttachmentArea__740bf {
  gap: 12px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: 20px 0px 0px 0px;
}
.chat__52833 .upload_c98ecb {
  border-radius: var(--radius-secondary);
  margin: 0;
  padding: 8px;
  position: relative;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 130px;
  background: var(--background-primary);
}
.theme-dark .button__8d734:focus-within .activeButtonChild__6e162,
.theme-dark .button__8d734:focus .activeButtonChild__6e162,
.theme-dark .button__8d734:hover .activeButtonChild__6e162 {
  color: var(--interactive-active);
}
.button__55e53 {
  padding: 0px;
  margin: 0px;
  width: 44px;
}
.separator__8424b {
  margin-left: 0px;
}
.separator__8424b:before {
  display: none;
}
.activeButtonChild__6e162 {
  color: var(--interactive-normal);
}
.contents_fb6220.button_f0455c.button__55e53 {
  display: none;
}

/* chatbox text placement */
#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app_b1f720>div>div.layers__1c917.layers_a23c37>div>div.container__037ed>div>div>div.chatLayerWrapper__29dd6>div:nth-child(2)>div.chat__4eed1>section>form>div.channelTextArea__2e60f.channelTextArea__56a36>div>div>div.textArea__74543.textAreaSlate_e0e383.slateContainer_b692b3>div>div.markup_a7e664.editor__66464.slateTextArea__0661c.fontSize16Padding__48818>div {
  margin-left: 55px !important;
}
div.markup_a7e664.editor__66464.slateTextArea__0661c.fontSize16Padding__48818:not(.textAreaWithoutAttachmentButton_eed7f8),
.placeholder_e68c63.slateTextArea__0661c.fontSize16Padding__48818 {
  margin-left: 15px !important;
  margin-right: 3px !important;
}
.markup_a7e664.editor__66464.slateTextArea__0661c.fontSize16Padding__48818.textAreaWithoutAttachmentButton_eed7f8:not(.textAreaWithoutAttachmentButton_eed7f8) {
  margin-left: -55px !important;
}

#app-mount .scrollableContainer__33e06.webkit__8d35a>div.divider_b9338f {
  display: none;
}
#app-mount .textArea__74543.textAreaSlate_e0e383.slateContainer_b692b3:not(.chat__1d65d .textArea__74543,
.chat__52833 .textArea__74543) {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: -50px;
  margin-left: 0px !important;
}

.characterCount_e55010 {
  margin-right: 03px;
}
.placeholder_e68c63.slateTextArea__0661c.fontSize16Padding__48818.textAreaWithoutAttachmentButton_eed7f8 {
  left: -17px;
}
.bioTextArea_a108c9::-webkit-scrollbar {
  display: none;
}
.scroller__1f96e {
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.form__13a2c:before {
  display: none;
}
.scrollableContainer__33e06.webkit__8d35a,
.channelTextArea__2e60f {
  background: transparent !important;
}
.theme-light .scrollableContainer__33e06 {
  background-color: #e0e0e077 !important;
}



/* ============================================= */
/* ======= < FANCY CHANNEL CATEGORIES > ======= */
/* =========================================== */
/*Made by Hearty */
.sectionDivider__68d2a {
  display: var(--seperator);
  margin-bottom: var(--catagory-spacing);
}
/* display/remove seperator */
[aria-label='Channels'] .containerDefault__23a29~.containerDefault__3187b,
[aria-label='Channels'] .containerDefault__23a29 {
  background-color: var(--catagory-background) !important;
  /* set color */
  margin-left: 8px;
  padding-right: 8px;
  /* clean up formatting */
}
[aria-label='Channels'] .containerDefault__3187b:has(+ .containerDefault__23a29),
[aria-label='Channels'] .containerDefault__23a29:has(+ .containerDefault__23a29),
[aria-label='Channels'] li:last-child {
  margin-bottom: var(--catagory-spacing);
  /* space between catagories */
  border-radius: 0 0 var(--catagory-radius) var(--catagory-radius);
  /* add border to bottom of catagories */
  padding-bottom: 8px;
  /* clean up formatting */
}
.containerDefault__23a29 {
  border-radius: var(--catagory-radius) var(--catagory-radius) 0 0;
  /* add border to top of catagories */
  padding: 6px;
  /* clean up formatting */
}
[aria-label='Channels'] .containerDefault__23a29:not(:has(+ .containerDefault__3187b)) {
  border-radius: var(--catagory-radius);
  /* add border to closed catagories */
}
.sidebar_ded4b5 .name__590d6 {
  text-transform: uppercase;
  /* make catagory title uppercase */
  text-align: center;
  /* center title */
}
.link__95dc0 {
  border-radius: 10px
}


/* ======================================== */
/* ======= < SERVER CHANNEL LIST > ======= */
/* ====================================== */
/*.wrapper__7bcde {
  background-color: transparent;
  border-radius: 25px;
}*/


/* ============================================= */
/* ======= < CHANNEL ON HOVER THINGYS > ======= */
/* =========================================== */
.containerDefault__23a29:hover .arrow_cb03b8 {
  display: block;
}
.arrow_cb03b8 {
  display: none;
}
.addButtonIcon_b776b3 {
  display: none;
}
.containerDefault__23a29:hover .addButtonIcon_b776b3 {
  display: block;
}


/* ======================================== */
/* ======= < JUMP TO PRESENT BAR > ======= */
/* ====================================== */
/* Jump To Present Bar Revamp */
[class*="jumpToPresentBar"] {
  display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--background-tertiary);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #FFFFFF;
  transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #FFFFFF;
  transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}


/* =================================== */
/* ======= < TIMESTAMP ICON > ======= */
/* ================================= */
.timestamp_a65714 {
  border-radius: 7px;
  padding: 2.5px;
}
.timestamp_a65714::before {
  content: url("data:image/svg+xml,%3Csvg width='12px' height='12px' role='img' fill='white' viewBox='0 0 520 520' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z'/%3E%3C/svg%3E");
  margin: 4px;
  position: relative;
  top: 1.5px;
}
.theme-light .timestamp_a65714::before {
  filter: invert(87%);
}


/* ====================================== */
/* ======= < JOINED VOICE ICON > ======= */
/* ==================================== */
.wrapper__7bcde.modeConnected__1c02e .icon_eff5d4 {
  color: var(--status-positive);
}


/* ================================= */
/* ======= < RED SWITCHES > ======= */
/* =============================== */
.bd-switch-body {
  background-color: #f04747;
  /* Controls Off Switch */
}
.bd-switch-body .bd-switch-slider rect {
  fill: white;
}
.bd-switch-body .bd-switch-slider path {
  fill: white;
}
.bd-switch input:checked+.bd-switch-body {
  background-color: #43b581;
  /* Controls On Switch */
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider rect {
  fill: white;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider path {
  fill: white;
}
.container__871ba[style*="128"] {
  --switch-color: #f04747;
  background: var(--switch-color) !important;
}
.slider__41d94 path {
  fill: transparent;
}


/* ========================================= */
/* ======= < PROFILE PANEL THINGY > ======= */
/* ======================================= */
:root .panels__58331 {
  margin: 0 5px 8px 5px;
  border-radius: calc(20px - 5px);
  background-color: var(--panel-colour);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  overflow: hidden;
}
:root .panels__58331 .wrapper__0ed4a>.container_d667ff {
  background-color: var(--panel-colour);
}
:root .wrapper__0ed4a>.container__0810b .header-2C89wJ {
  background-color: var(--panel-colour);
}
:root .wrapper__0ed4a>.container__0810b section {
  background-color: var(--panel-colour);
}

.panel_bd8c76.activityPanel__22355,
.container_d667ff {
  background-color: var(--panel-colour) !important;
}
.container_ca50b9 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(105px + var(--inner-primary) + var(--inner-primary));
  padding: 0px;
  margin: 0px;
  background-color: var(--panel-colour)!important;
}
.container_ca50b9 .avatarWrapper_ba5175 {
  background: var(--background-primary);
  border-radius: var(--radius-secondary) 0px 0px var(--radius-secondary);
  margin: var(--inner-primary) 0px 0px var(--inner-primary);
  padding: calc(3px + var(--inner-primary));
  grid-column: 1;
  height: 38px;
}
.container_ca50b9:not(.powercord-spotify .container_ca50b9) .withTagAsButton_cc125f,
.container_ca50b9 .nameTag__0e320 {
  background: var(--background-primary);
  border-radius: 15px var(--radius-secondary) var(--radius-secondary) 15px;
  margin: var(--inner-primary) var(--inner-primary) 0px 10px;
  grid-column: 2;
  height: 38px;
}
.container_ca50b9 .flex_f5fbb7 {
  display: grid;
  margin-left: var(--inner-primary);
  margin-right: var(--inner-primary);
  grid-column: 1/-1;
  grid-gap: var(--inner-primary);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.container_ca50b9 .directionRow__2bb0b .button__4f306 {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
  height: 34px;
}
div.avatar_f8541f.wrapper-1VLyxH {
  height: 40px !important;
  width: 40px !important;
}
.tabBarContainer-sCZC4w {
  justify-content: center;
  display: flex;
  padding-left: 0 !important;
}
.tabBarItem_b56b35 {
  margin-right: 16px;
  margin-left: 16px;
}
.button__66e8c.buttonColor_a6eb73.button_afdfd9.lookFilled__19298.colorBrand_b2253e.sizeSmall__71a98 {
  border-radius: 10px !important;
}

#app-mount .userProfileActivity-sal5no {
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
#app-mount .userProfileActivity-sal5no .bodyNormal_c70dfd,
#app-mount .userProfileActivity-sal5no .bodyAlignCenter__21cc3 {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--background-secondary-alt);
  border: 1px solid hsla(0, 0%, 50%, 0.4);
}

.theme-dark .newProfileActivityStyles .platformIcon__05c5e,
.theme-light .newProfileActivityStyles .platformIcon__05c5e {
  top: 40px;
}
.container_ca50b9 > .flex_f5fbb7 > button {
  border-radius: 15px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}


/* ========================================== */
/* ======= < PROFILE MODIFICATIONS > ======= */
/* ======================================== */
.userPopoutOverlayBackground_d8afa4 {
  background-color: rgba(0, 0, 0, 0.352);
  border-radius: 1rem!important;
}
.messageInputContainer__768e6 {
  border-radius: 1rem!important;
}
.messageInput__3b049 {
  border-radius: 1rem!important;
}
.divider_ed0c1d.divider__56f26 {
  display: none;
}


/* ====================================== */
/* ======= < DM PROFILE THINGY > ======= */
/* ==================================== */
.profilePanel__12596 {
  width: 275px;
}


/* ===================================== */
/* ======= < SERVER NAME FONT > ======= */
/* =================================== */
.name_c08dbc {
  font-family: Discord;
}


/* ======================================================================================================================================= */
/* ============================================================== < CRAP > ============================================================== */
/* ===================================================================================================================================== */

/* ======================================== */
/* =================== < IDFK > ==========* /
/* ====================================== */
/*.avatarContainerMasked__6a03e div {
  margin: 0.5px !important;
}
.avatarContainerMasked__6a03e {
  margin: -1px !important;
}
.dot__99c90 {
  margin-left: 50px !important;
}
.tooltipPointer-3L49xb {
  border-top-color: rgba(32, 17, 54, 0.7) !important;
}
.tooltipContent-Nejnvh>.row-2OVM4t>svg>path {
  fill: #43b581;
}
.peopleColumn__51df3 {
  background: var(--background-primary);
}
.title_b7d661 {
  background-color: var(--background-secondary) !important;
}*/


/* =================================================================== */
/* =================== < SVG DOT AND DISCORT NITRO THING > ========== */
/* ================================================================= */
.dot__99c90 {
  left: 50px !important;
  position: relative;
}
.premiumLabel_f2cd55>svg {
  left: 58px !important;
  position: relative;
}
.icon__11372 {
  left: 30px !important;
  position: relative;
}


/* ============================================================================= */
/* =================== < CENTER THE CUSTOM STATUS EMOJI IF NO TEXT > ========== */
/* =========================================================================== */
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
  margin: auto;
}


/* ================================================================ */
/* =================== < MAKE PRONOUNS STAND OUT MORE > ========== */
/* ============================================================== */
[class*=pronouns] {
  color: var(--text-normal);
  font-size: 12px; font-weight: 800;
  background: #ffffff20;
  padding: 0.10rem 0.5rem; margin: 0.25rem 0 0 0;
  border-radius: 1rem;
}


/* ==================================================================== */
/* =================== < IMAGE ABOVE PROFILE PANEL THINGY > ========== */
/* ================================================================== */
/* MEOWW */
/*[class^="panels__58331"]::before {
  content: "";
  width: 80px;
  height: 97px;
  left: -5px;
  margin-top: -95px;
  position: absolute;
  background-image: url('https://cdn.discordapp.com/emojis/692514329123356712.gif?size=96&quality=lossless');
}*/


/* Make the forum post action bar actually sticky, like Discord intended but they forgor to put this line */
.scrollerInner__059a5 {
  overflow: unset;
}


/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}


/* make markdown headers and bold text pop more */
[class*=messageContent] :is(h1, h2, h3) {
  color: hsla(240, 25%, 71%, 0.75);
}
[class*=messageContent] strong {
    color: rgb(170, 170, 202);
}


/* remmoves black bars in some things */
[class^=form-]:before, [class^=children-]:after {
  display: none;
}


/* simplified edited icon */
.edited_b20dd9 {color: rgba(0,0,0,0)}
.edited_b20dd9::before {
        content: "(✎)";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
}


/* [[ GUILD BOOSTS ]] */
@keyframes flicker {
  0% {
  opacity: 1
}
  50% {
  opacity: 0.5
}
  100% {
  opacity: 1
  }
}
.textArea_f2029c {
  padding: 0 8px;
}
.progressBar_db0972,
.progressBarContainer__9b571 {
  height: 40px;
  border-radius: 8px;
  background-color: rgb(var(--mention-colour), 55%)!important;
}
.container__4f639,
.containerWithMargin__7d380 {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
  width: 105%;
}
.tadaIcon__3b97b {
  right: 98%;
  top: 6px;
  translate: none;
  font-size: 36px;
  opacity: 0.5
}
.progressBarContainer__9b571 {
  top: -40px;
  z-index: -1
}
.progressBar_db0972 {
  background: rgb(var(--mention-colour), 95%)!important;
}
.container__4f639:hover .progressBar_db0972 {
  animation: 5s flicker linear infinite;
  background: rgb(var(--mention-colour), 80%)!important;
}
.container__4f639:hover .tadaIcon__3b97b {
  animation: 3s flicker linear infinite
}
