/**
 * @name Smaller Fixes
 * @author vılchu#0005
 * @version 1.1.0
 * @description my theme
*/


/* ================================= */
/* ======= < OTHER IMPORT > ======= */
/* =============================== */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
@import url("https://crearts-community.github.io/Mention-Links/src/source.css");
@import url("https://discord-theme.pages.dev/assets/snippets/watermark.css");
@import url("//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");
@import url("https://dablulite.github.io/css-snippets/NoLightInDark/import.css");
@import url("//dablulite.github.io/BetterFloatingEditor/import.css");
@import url("//dablulite.github.io/css-snippets/BetterAuthApps/import.css");
/*@import url(//dablulite.github.io/css-snippets/MacosTitlebar/import.css);*/
@import url("//dablulite.github.io/css-snippets/BetterModals/import.css");
/*@import url("https://seele1306.github.io/ChatBubbles.css");*/
@import url("//raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css");
@import url("https://minidiscordthemes.github.io/FluentStatusIcons/FluentStatusIcons.theme.css");


/* icons */
@import url("https://lavender-discord.github.io/IconsaxDiscord/theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");


/* ================================= */
/* ======= < FONT IMPORT > =======  */
/* =============================== */
@import url("https://jatin-jindal.github.io/discordfont/DiscordFont.css");

*:not(code) {
  font-family: 'Didact Gothic Regular', sans-serif;
}



/* ================================== */
/* ======= < OTHER THINGYS > ======= */
/* ================================ */
:root {
  --focus-primary: transparent;
  /* TAB COLOR THINGY */
  --stupid-stuff: none;
  --mention-colour: 234, 153, 153;

  /* nicer embed */
  --chattyBorderRadius: 10px;
  --chattyBlur: 5px;

  /* SettingsModal */
  --settingsmodalbackground: transparent;
  /* default:    transparent        (lowest bg color of changed windows, change it in case another theme turns them transparent)    */
  --settingsmodalwidth: 1030px;
  /* default:    960px            (width of the settings modal, px/vw)                                                            */
  --settingsmodalheight: 84vh;
  /* default:    80vh            (height of the settings modal, px/vh)                                                            */

  /* nicer categorys */
  --catagory-background: var(--background-primary);
  /* catagory background color */
  --catagory-radius: 10px;
  /* catagory radius */
  --catagory-spacing: 12px;
  /* Spacing between catagories */
  --seperator: none;
  /* change to 'block' for seperator between home and catagories */

  --watermark: 'uwucord';

  /* send message bar */
  --radius-primary: 18px;
  --radius-secondary: 12px;
  --radius-tertiary: 6px;
  --layout: calc(var(--layout-margin) / 2);
  --layout-margin: 20px;

  /* user panel thingy */
  --inner-primary: 8px;
  --inner-secondary: 12px;
  --inner-tertiary: 16px;

  /*--wallpaper: url("");
	--font-titlebar: Segoe UI;
	--font-headline: Quicksand;*/
  /*--layout-margin-top: 20px;
	--layout-margin-left: 20px;
	--layout-margin-right: 20px;
	--layout-margin-bottom: 20px;
	--layout-height-header: 44px;
	--guild-icon: 48px;
	--guild-spacing: calc(var(--guild-icon) / 5);
	--guild-badge: calc(var(--guild-icon) / 3.2)*/
}

.theme-dark {
  /* channel scrollbar color */
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --text-link: hsl(240, 14%, 65%);
}

/* link color */
.markup-eYLPri a {
  color: hsl(240, 14%, 65%);
}
/* bubble thingys */
:root {
  --chat-bubble-default: #00000025;
  --chat-bubble-default-hover: #00000050;
  --chat-bubble-replying: #00000025;
  --chat-bubble-replying-hover: #00000050;
  --chat-bubble-mentioned: #00000025;
  --chat-bubble-mentioned-hover: #00000050;
  --chat-bubble-border-radius: 10px;
}

:root:root {
  /* use https://hslpicker.com/ to help pick your theme color */
  --theme-h: 258;
  --theme-s: 17.54%;
  --theme-l: 22.35%;
  --panel-colour: hsl(258.95, 25.33%, 14.71%);
  --window-colour:hsl(256, 20%, 26%);

  --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.90%);
  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.70%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.90%);
  --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.60%);
  --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.70%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.90%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.10%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.60%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.40%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.30%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.70%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.10%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.80%);
}


/* =================================== */
/* ======= < WHOLE ASS LOOK > ======= */
/* ================================= */
.guilds-2JjMmN {
  margin: 10px;
  border-radius: 15px;
}
/*.tree-3agP2X>.scroller-3X7KbA,.tree-3agP2X{
  background-color: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
}*/
.content-1SgpWY>.sidebar-1tnWFu,
.chat-2ZfjoI {
  margin: 10px 13px 10px 0;
  border-radius: 15px !important;
}
.flex-2S1XBF.flex-3BkGQD.horizontalReverse-60Katr.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz.footer-31IekZ.footerSeparator-VzAYwb {
  background-color: var(--background-floating);
}


/* ============================== */
/* ======= < HOME ICON > ======= */
/* ============================ */
.childWrapper-1j_1ub,
.wrapper-3kah-n.selected-1Drb7Z.childWrapper-1j_1ub,
.wrapper-28eC3z:hover .childWrapper-1j_1ub {
  /*Home icon background color*/
  background: transparent !important;
}
.homeIcon-r0w4ny path {
  fill: transparent !important;
}
svg.homeIcon-r0w4ny {
  background: url("https://i.imgur.com/RihOp3U.png") center/cover no-repeat;
  background-size: 50px;
  min-width: 50px;
  min-height: 50px;
}


/* snowsgiving icon fix*/
/*foreignObject>[data-list-item-id$=home] :where(path,rect){
    display: none;
}
foreignObject>[data-list-item-id$=home] svg{
    background: url('https://i.imgur.com/RihOp3U.png') center/contain no-repeat;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}*/


/* ========================================== */
/* ======= < TEXT SELECTION COLOUR > ======= */
/* ======================================== */
::selection {
  background: hsla(240, 14%, 57%, 0.75) !important;
}

.highlight {
  background: hsla(240, 14%, 57%, 0.75) !important;
}
/* thread color */
.spine-29OFwR {
  color: hsla(147, 50%, 52%, 0.993);
}


/* ======================================== */
/* ======= < HI-COLOUUR MENTIONS > ======= */
/* ====================================== */
:root {
  --brand-experiment-05a: rgba(var(--mention-colour), 0.08);
}
.mentioned-Tre-dv {
  background-color: rgba(var(--mention-colour), 0.08) !important;
}
.mentioned-Tre-dv:hover {
  background-color: rgba(var(--mention-colour), 0.1) !important;
}

div[class*='mentioned']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}
div[class*='replying']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}
.message-2CShn3.cozyMessage-1DWF9U.ephemeral-2nDdnn.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:hover {
  background-color: rgba(var(--mention-colour), 0.1)!important;
}
.message-2CShn3.cozyMessage-1DWF9U.replying-eZ7p5z.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
  background-color: rgba(var(--mention-colour), 0.08);
}
.message-2CShn3.cozyMessage-1DWF9U.ephemeral-2nDdnn.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz::before {
  background-color: rgb(var(--mention-colour));
}
.message-2CShn3.cozyMessage-1DWF9U.ephemeral-2nDdnn.groupStart-3Mlgv1.selected-2LX7Jy.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
  background-color: rgba(var(--mention-colour), 0.08);
}


/* ================================= */
/* ======= < REMOVE STUFF > ======= */
/* =============================== */
div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label='Help'],
div[id='user-context-invite-to-server'],
div[id='user-context-call'],
.guildIconContainer-2FW_iA,
.children-3xh0VB::after,
.tabBarItemContainer-2HdIlr svg {
  display: var(--stupid-stuff) !important;
}
/* Slash command button in attachment popout */
#channel-attach-SLASH_COMMAND {
  display: none !important;
}
/* Explore */
.tutorialContainer-2jwoiB+div {
  display: none;
}


/* ========================== */
/* ======= < ICONS > ======= */
/* ======================== */
/* voice  joined icon */
.iconBadge-32fMme {
  background-color: hsl(240, 22%, 60%) !important;
}
/* notification color */
.numberBadge-37OJ3S {
  background-color: hsl(240, 22%, 60%) !important;
}


/* ================================== */
/* ======= < REORDER STUFF > ======= */
/* ================================ */
.iconWrapper-2awDjA {
  order: -1;
}


/* =============================== */
/* ======= < SEARCH BAR > ======= */
/* ============================= */
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 240px;
  background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: 0.25s;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
.icon-18rqoe {
  color: #b9bbbe;
  width: 19px;
  height: 19px;
  top: -1px;
  left: -2px;
}


/*==================================== */
/* ======= < RED DOT UNREAD > ======= */
/* ================================= */
.unread-36eUEm {
  z-index: 1;
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  top: 48%;
  left: 1px;
  margin-top: 0px;
  background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}


/* ============================================ */
/* ======= < SERVER HOVER MUTED TEXT > ======= */
/* ========================================== */
.tooltip-33Jwqe {
  --text-muted: #d84b4b;
}


/* ===================================== */
/* ======= < SMALLER STICKERS > ======= */
/* =================================== */
.cozy-VmLDNB .assetWrapper-2hzITV {
  max-width: 10vh;
  max-height: 10vh;
}


/* ==================================== */
/* ======= < WINDOWS BUTTONS > ======= */
/* ================================== */
:root .winButton-3UMjdg {
  background-color: var(--window-colour);
}
:root .winButton-3UMjdg:last-child {
  border-bottom-left-radius: 8px;
}


/* ============================================ */
/* ======= < COOLER EMBEDS AND MEDIA > ======= */
/* ========================================== */
#app-mount .embedFull-1HGV2S {
  background: rgba(0, 0, 0, 0.2);
  border-left: 0px;
  border-bottom: var(--chattyBorderRadius) solid;
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}
#app-mount .embedFull-1HGV2S .grid-1aWVsE {
  padding-top: 3px;
  padding-bottom: 10px;
}
#app-mount .imageWrapper-oMkQl4 {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
  transition: 0.2s ease-in-out;
}
#app-mount .imageWrapper-oMkQl4:hover {
  transform: scaleY(1.02) scaleX(1.02);
}
#app-mount .video-2HW4jD {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}

.accountProfileCard-lbN7n- {
  background-color: transparent !important;
  background: transparent !important;
  backdrop-filter: blur(var(--chattyBlur)) brightness(0.7) !important;
  border-radius: var(--chattyBorderRadius) !important;
}
.accountProfileCard-lbN7n- {
  box-shadow: 0px 0px 20px black !important;
}


/* ========================================= */
/* ======= < FULL COLOURED EMBEDS > ======= */
/* ======================================= */
.embedFull-1HGV2S {
  overflow: hidden;
  background: var(--background-primary);
  border-left: none;
  /*border-top: 4px solid var(--background-tertiary);*/
  z-index: 0;
}
.embedFull-1HGV2S::before {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  width: 0;
  border-right: 100vw solid transparent;
  border-color: inherit;
  opacity: 0.15;
  z-index: -1;
}
/* Embeds */
.embedFull-1HGV2S {
	overflow: hidden;
	border-left: none;
	z-index: 0;
	border-radius: var(--chat-bubble-border-radius);
	/*width: fit-content;*/
	background-color: inherit;
	margin: 0.25em 0.125em 0 !important
}
.embedFull-1HGV2S:hover {
	filter: brightness(1.2) 
}
.embedFull-1HGV2S::before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	z-index: -1
}
.embedFull-1HGV2S::after {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: #00000099;
	z-index: -1;
}


/* ==================================== */
/* ======= < BUBBLE MESSAGES > ======= */
/* ================================== */
/*.cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 0;
  padding: 8px;
  border-radius: 10px;
}
.markup-eYLPri blockquote,
.markup-eYLPri pre {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}*/

.channelTextArea-1FufC0 {
	background-color: transparent 
}
/*.messageListItem-ZZ7v6g {
	margin-left: 10px 
}*/
/*.zalgo-26OfGz:has(.contents-2MsGLg) {
	max-width: fit-content 
}*/
.contents-2MsGLg .avatar-2e8lTP {
	margin-top: calc(5px - 0.125em);
	scale: 1.15 
}
.contents-2MsGLg [class*=avatarDecoration-] {
	margin-top: calc(2px - 0.125em);
	scale: 1.15 
}
.highlighted-1TaRLI:hover, .replying-eZ7p5z:hover {
	position: relative;
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .contents-2MsGLg>.markup-eYLPri, 
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
	margin: 0.125em 0;
	padding: 0.5em;
	border-radius: var(--chat-bubble-border-radius);
	background: var(--chat-bubble-default);
	max-width: max-content;
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .contents-2MsGLg>.markup-eYLPri:hover, 
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg:hover>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
	background: var(--chat-bubble-default-hover) 
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.replying-eZ7p5z>.contents-2MsGLg, 
.cozyMessage-1DWF9U.replying-eZ7p5z:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *), 
.replying-eZ7p5z .container-2sjPya>:not(.reactions-3ryImn, .searchResultsWrap-5RVOkx *) {
	background: var(--chat-bubble-replying);
	border-radius: var(--chat-bubble-border-radius);
	max-width: max-content
}
.scrollableContainer-15eg7h {
	background: transparent 
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.replying-eZ7p5z>.contents-2MsGLg:hover, 
.cozyMessage-1DWF9U.replying-eZ7p5z:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *):hover, 
.replying-eZ7p5z .container-2sjPya>:not(.reactions-3ryImn, .searchResultsWrap-5RVOkx *):hover {
	background: var(--chat-bubble-replying-hover)
}
/*.groupStart-3Mlgv1.cozyMessage-1DWF9U.mentioned-Tre-dv>.contents-2MsGLg,*/ 
.cozyMessage-1DWF9U.mentioned-Tre-dv:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *)/*, 
.mentioned-Tre-dv .container-2sjPya>:not(.reactions-3ryImn, .searchResultsWrap-5RVOkx *)*/ {
	background: var(--chat-bubble-mentioned);
	border-radius: var(--chat-bubble-border-radius)
}
/*.groupStart-3Mlgv1.cozyMessage-1DWF9U.mentioned-Tre-dv>.contents-2MsGLg:hover,*/ 
.cozyMessage-1DWF9U.mentioned-Tre-dv:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *):hover/*, 
.mentioned-Tre-dv .container-2sjPya>:not(.reactions-3ryImn, .searchResultsWrap-5RVOkx *):hover*/ {
	background: var(--chat-bubble-mentioned-hover)
}




/* ================================= */
/* ======= < ROLE COLOURS > ======= */
/* =============================== */
.role-2TIOKu {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: 0.4;
  border-radius: 7px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
  position: static;
}
.role-2TIOKu .roleCircle-3TFUOr:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}


/* ========================================= */
/* ======= < ROUNDED CONTEXT MENU > ======= */
/* ======================================= */
.menu-2TXYjN {
  position: relative;
  background: none;
  border-radius: 10px;
}
.menu-2TXYjN:not(.menu-2TXYjN.flexible-3B4jwn.menu-2-eHMB)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
}
.button-1zW0-r,
.button-1zW0-r:hover {
  background: none;
  backdrop-filter: blur(5px);
}
.item-5ApiZt {
  border-radius: 6px;
}

/* search bar */
.container-2McqkF {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
}
ul.resultsGroup-cfY57t
{
  background-color: hsl(var(--primary-700-hsl)/0.25) !important;
  backdrop-filter: blur(5px);
}

#SEARCH_OPTIONS-header, #HISTORY-header {
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 1000;
  text-decoration: solid 2px underline var(--text-danger);
  text-underline-position: under;
  padding-top: 10px;
}
.option-ayUoaq {
  --search-popout-option-fade: linear-gradient(90deg, transparent, var(--popout-bg) 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg, transparent, var(--item-hover-bg) 50%);
}


/* ===================================== */
/* ======= < SEND MESSAGE BAR > ======= */
/* =================================== */
.chat-1-OBC7 .textArea-2CLwUE,
.chat-2ZfjoI .textArea-2CLwUE {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  order: 0;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc((var(--layout-margin) / 2) + (var(--layout-margin) / 2));
}
.chat-2ZfjoI .buttons-uaqb-5:not(.attachButton-1ijpt9.wrapper-3SFU66) {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  order: 3 !important;
  background: var(--background-secondary);
  border-radius: 90px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto !important;
}
.attachButton-_ACFSu.attachButton-1ijpt9.button-ejjZWC.lookBlank-FgPMy6.colorBrand-2M3O3N.grow-2T4nbg,
.attachWrapper-3slhXI .lookBlank-21BCro {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}


#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div:nth-child(6)>div.chat-25x62K>section>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.buttons-uaqb-5>div>button {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}

.chat-2ZfjoI .scrollableContainer-15eg7h,
.chat-1-OBC7 .scrollableContainer-15eg7h {
  background: transparent !important;
}
.wrapper-2SplAX {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout) + var(--layout)) 0px 0px 0px;
  order: -1 !important;
}
.chat-2ZfjoI .typing-2J1mQU {
  order: 1;
}
.chat-2ZfjoI .base-3bcbY3 {
  height: 24px;
  left: 0px;
  right: 0px;
  padding-left: 73px;
  padding-right: 92px;
  margin-top: calc(var(--layout) + var(--layout));
}
.attachButton-1ijpt9 {
  margin-left: 0px;
  padding: 0px;
  height: 44px;
  width: 44px;
}
.attachButton-1ijpt9.wrapper-3SFU66 {
  margin-right: -45px;
}
.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil:not(.attachButton-1ijpt9.wrapper-3SFU66) {
  margin-right: 20px;
}

/* message bar position when no attachment button */
.textArea-2CLwUE:not(.attachWrapper-3slhXI + .textArea-2CLwUE,
  .inner-NQg18Y.innerDisabled-2dbG11.inner-NQg18Y.sansAttachButton-1ERHue,
  .channelTextArea-220_Gz.channelTextArea-1VQBuV > div > div > div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil) {
  margin-left: 64px !important;
}
.inner-NQg18Y.innerDisabled-2dbG11.inner-NQg18Y.sansAttachButton-1ERHue {
  margin-right: 45px;
  margin-left: -15px !important;
}
.sansAttachButton-1ERHue:not(.inner-NQg18Y.innerDisabled-2dbG11.inner-NQg18Y.sansAttachButton-1ERHue) {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding-left: 0px;
}
.attachWrapper-3slhXI>#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.chatLayerWrapper-2mgEK->div:nth-child(2)>div.chat-25x62K>section>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.attachWrapper-3slhXI>button {
  order: 1 !important;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: auto;
}
.chat-2ZfjoI .replyBar-1oi75v,
.chat-1-OBC7 .replyBar-1oi75v {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
  width: 1110px;
  margin-left: 70px;
  border-radius: 10px;
}
.bar-2MWHzg {
  background: var(--background-secondary-alt);
  border-radius: 10px;
  width: 1080px;
  margin-left: 65px;
}
.autocomplete-3NRXG8.outerWrapper-3UdjNj {
  width: 1110px;
  margin-left: 70px;
}
.autocomplete-3NRXG8.autocomplete-3jLKbj.autocompleteAttached-bt_md-:not(.scroller-18M1mG.thin-RnSY0a.scrollerBase-1Pkza4,
.autocompleteInner-y1mjDl.autocompleteInner-2tOQrf) {
  width: 1105px;
  margin-left: 70px;
}
.threadSuggestionBar-3ExSyc {
  width: 1500px;
  margin-left: 65px;
  border-radius: 10px;
}
.chat-2ZfjoI .attachedBars-2BCP3l,
.chat-1-OBC7 .attachedBars-2BCP3l {
  order: -1;
  background: transparent;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
  margin-top: 10px;
  margin-bottom: 10px;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-thumb,
.textAreaSlate-9-y-k2::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--radius-primary);
}
.buttonContainer-6W2Ep3 .innerButton-1aF_E_ {
  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 100%;
}
.chat-2ZfjoI .channelAttachmentArea-1wlgJV {
  gap: 12px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: 20px 0px 0px 0px;
}
.chat-2ZfjoI .upload-3GTSF9 {
  border-radius: var(--radius-secondary);
  margin: 0;
  padding: 8px;
  position: relative;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 130px;
  background: var(--background-primary);
}
.theme-dark .button-y6hemj:focus-within .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:focus .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:hover .activeButtonChild-2hgLAO {
  color: var(--interactive-active);
}
.button-3BaQ4X {
  padding: 0px;
  margin: 0px;
  width: 44px;
}
.separator-3ng7S5 {
  margin-left: 0px;
}
.separator-3ng7S5:before {
  display: none;
}
.activeButtonChild-2hgLAO {
  color: var(--interactive-normal);
}
.contents-3NembX.button-2fCJ0o.button-3BaQ4X {
  display: none;
}

/* chatbox text placement */
#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.chatLayerWrapper-2mgEK->div:nth-child(2)>div.chat-25x62K>section>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI>div {
  margin-left: 55px !important;
}
div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI:not(.textAreaWithoutAttachmentButton-1as0NS),
.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
  margin-left: 15px !important;
  margin-right: 3px !important;
}
.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI.textAreaWithoutAttachmentButton-1as0NS:not(.textAreaWithoutAttachmentButton-1as0NS) {
  margin-left: -55px !important;
}

#app-mount .scrollableContainer-15eg7h.webkit-QgSAqd>div.divider-2rZFJK {
  display: none;
}
#app-mount .textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil:not(.chat-1-OBC7 .textArea-2CLwUE,
  .chat-2ZfjoI .textArea-2CLwUE) {
  background-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: -50px;
  margin-left: 0px !important;
}

.characterCount-8yNPfb {
  margin-right: 03px;
}
.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI.textAreaWithoutAttachmentButton-1as0NS {
  left: -17px;
}
.bioTextArea-dDGOeC::-webkit-scrollbar {
  display: none;
}
.scroller-kQBbkU {
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.form-3gdLxP:before {
  display: none;
}
.scrollableContainer-15eg7h.webkit-QgSAqd,
.channelTextArea-1FufC0 {
  background: transparent !important;
}
.theme-light .scrollableContainer-15eg7h {
  background-color: #e0e0e077 !important;
}


/* ================================= */
/* ======= < FOLDER ICONS > ======= */
/* =============================== */
.closedFolderIconWrapper-3tRb2d {
  display: none;
}
.folderIconWrapper-1oRIZr:not([style=''])::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: inherit;
  -webkit-mask: url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg") no-repeat;
  mask: url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg") no-repeat;
  transform: scale(1.3335);
  filter: brightness(1.5) saturate(1.5);
}


/* ============================================= */
/* ======= < FANCY CHANNEL CATEGORIES > ======= */
/* =========================================== */
/*Made by Hearty */
.sectionDivider-189lqb {
  display: var(--seperator);
  margin-bottom: var(--catagory-spacing);
}
/* display/remove seperator */
[aria-label='Channels'] .containerDefault-3TQ5YN~.containerDefault-YUSmu3,
[aria-label='Channels'] .containerDefault-3TQ5YN {
  background-color: var(--catagory-background) !important;
  /* set color */
  margin-left: 8px;
  padding-right: 8px;
  /* clean up formatting */
}
[aria-label='Channels'] .containerDefault-YUSmu3:has(+ .containerDefault-3TQ5YN),
[aria-label='Channels'] .containerDefault-3TQ5YN:has(+ .containerDefault-3TQ5YN),
[aria-label='Channels'] li:last-child {
  margin-bottom: var(--catagory-spacing);
  /* space between catagories */
  border-radius: 0 0 var(--catagory-radius) var(--catagory-radius);
  /* add border to bottom of catagories */
  padding-bottom: 8px;
  /* clean up formatting */
}
.containerDefault-3TQ5YN {
  border-radius: var(--catagory-radius) var(--catagory-radius) 0 0;
  /* add border to top of catagories */
  padding: 6px;
  /* clean up formatting */
}
[aria-label='Channels'] .containerDefault-3TQ5YN:not(:has(+ .containerDefault-YUSmu3)) {
  border-radius: var(--catagory-radius);
  /* add border to closed catagories */
}
.sidebar-1tnWFu .name-3BUDLf {
  text-transform: uppercase;
  /* make catagory title uppercase */
  text-align: center;
  /* center title */
}
.link-1_kTxV {
  border-radius: 10px
}


/* ======================================== */
/* ======= < SERVER CHANNEL LIST > ======= */
/* ====================================== */
.content-1gYQeQ {
  background-color: transparent;
  border-radius: 25px;
}


/* ============================================= */
/* ======= < CHANNEL ON HOVER THINGYS > ======= */
/* =========================================== */
.containerDefault-3TQ5YN:hover .arrow-2HswgU {
  display: block;
}
.arrow-2HswgU {
  display: none;
}
.addButtonIcon-3rJeaD {
  display: none;
}
.containerDefault-3TQ5YN:hover .addButtonIcon-3rJeaD {
  display: block;
}


/* ======================================== */
/* ======= < JUMP TO PRESENT BAR > ======= */
/* ====================================== */
[class*='jumpToPresentBar'] {
  display: contents;
}
[class*='jumpToPresentBar']>button:first-child {
  display: none;
}
[class*='jumpToPresentBar']>button:last-child {
  position: absolute;
  bottom: 24px;
  /* fixed the position relative to right part */
  right: 22px;
  /* so it doesn't look so close/odd */
  padding: 8px !important;
  height: auto;
  background-color: var(--background-tertiary);
  /* changed color to darker gray */
  /*box-shadow: var(--elevation-high); I don't like the shadow */
  border-radius: 100px;
  display: flex;
  font-size: 0;
  color: transparent;
  transition: font-size 150ms 0s, color 150ms 0s, padding 150ms 0s;
}
[class*='jumpToPresentBar']>button svg {
  order: -1;
  margin: 0;
  height: 24px;
  width: 24px;
  top: unset;
  margin-right: 4px;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-normal);
  transition: margin 150ms 0s;
}
[class*='jumpToPresentBar']:hover>button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: var(--text-normal);
  transition: font-size 150ms 0.1s, color 150ms 0.1s, padding 150ms 0.1s;
  background-color: var(--background-tertiary);
}
[class*='jumpToPresentBar']:hover>button svg {
  margin-right: 2px;
  margin-left: -6px;
  transition: margin 150ms 0.1s;
}


/* =================================== */
/* ======= < TIMESTAMP ICON > ======= */
/* ================================= */
.timestamp-6-ptG3 {
  border-radius: 7px;
  padding: 2.5px;
}
.timestamp-6-ptG3::before {
  content: url("data:image/svg+xml,%3Csvg width='12px' height='12px' role='img' fill='white' viewBox='0 0 520 520' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z'/%3E%3C/svg%3E");
  margin: 4px;
  position: relative;
  top: 1.5px;
}
.theme-light .timestamp-6-ptG3::before {
  filter: invert(87%);
}


/* ====================================== */
/* ======= < JOINED VOICE ICON > ======= */
/* ==================================== */
.wrapper-NhbLHG.modeConnected-NrO4cP .icon-2W8DHg {
  color: var(--status-positive);
}


/* ================================= */
/* ======= < RED SWITCHES > ======= */
/* =============================== */
.bd-switch-body {
  background-color: #f04747;
  /* Controls Off Switch */
}
.bd-switch-body .bd-switch-slider rect {
  fill: white;
}
.bd-switch-body .bd-switch-slider path {
  fill: white;
}
.bd-switch input:checked+.bd-switch-body {
  background-color: #43b581;
  /* Controls On Switch */
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider rect {
  fill: white;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider path {
  fill: white;
}
.container-1QtPKm[style*="128"] {
  --switch-color: #f04747;
  background: var(--switch-color) !important;
}
.slider-HJFN2i path {
  fill: transparent;
}


/* ========================================= */
/* ======= < PROFILE PANEL THINGY > ======= */
/* ======================================= */
:root .panels-3wFtMD {
  margin: 0 5px 8px 5px;
  border-radius: calc(20px - 5px);
  background-color: var(--panel-colour);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  overflow: hidden;
}
:root .panels-3wFtMD .wrapper-3Hk9OB>.container-1zzFcN {
  background-color: var(--panel-colour);
}
:root .wrapper-3Hk9OB>.container-1ILvLB .header-2C89wJ {
  background-color: var(--panel-colour);
}
:root .wrapper-3Hk9OB>.container-1ILvLB section {
  background-color: var(--panel-colour);
}

.panel-2ZFCRb.activityPanel-9icbyU,
.container-1zzFcN {
  background-color: var(--panel-colour) !important;
}
.container-YkUktl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(105px + var(--inner-primary) + var(--inner-primary));
  padding: 0px;
  margin: 0px;
  background-color: var(--panel-colour)!important;
}
.container-YkUktl .avatarWrapper-1B9FTW {
  background: var(--background-primary);
  border-radius: var(--radius-secondary) 0px 0px var(--radius-secondary);
  margin: var(--inner-primary) 0px 0px var(--inner-primary);
  padding: calc(3px + var(--inner-primary));
  grid-column: 1;
  height: 38px;
}
.container-YkUktl:not(.powercord-spotify .container-YkUktl) .withTagAsButton-OsgQ9L,
.container-YkUktl .nameTag-sc-gpq {
  background: var(--background-primary);
  border-radius: 15px var(--radius-secondary) var(--radius-secondary) 15px;
  margin: var(--inner-primary) var(--inner-primary) 0px 10px;
  grid-column: 2;
  height: 38px;
}
.container-YkUktl .flex-2S1XBF {
  display: grid;
  margin-left: var(--inner-primary);
  margin-right: var(--inner-primary);
  grid-column: 1/-1;
  grid-gap: var(--inner-primary);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.container-YkUktl .directionRow-2Iu2A9 .button-12Fmur {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
  height: 34px;
}
div.avatar-1EWyVD.wrapper-1VLyxH {
  height: 40px !important;
  width: 40px !important;
}
.tabBarContainer-sCZC4w {
  justify-content: center;
  display: flex;
  padding-left: 0 !important;
}
.tabBarItem-30Te4- {
  margin-right: 16px;
  margin-left: 16px;
}
.button-1EGGcP.buttonColor-3bP3fX.button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeSmall-3R2P2p {
  border-radius: 10px !important;
}

#app-mount .userProfileActivity-sal5no {
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
#app-mount .userProfileActivity-sal5no .bodyNormal-250CQK,
#app-mount .userProfileActivity-sal5no .bodyAlignCenter-3E27PU {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--background-secondary-alt);
  border: 1px solid hsla(0, 0%, 50%, 0.4);
}

.theme-dark .newProfileActivityStyles .platformIcon-k3yytQ,
.theme-light .newProfileActivityStyles .platformIcon-k3yytQ {
  top: 40px;
}
.container-YkUktl > .flex-2S1XBF > button {
  border-radius: 15px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}



/* ========================================== */
/* ======= < SMALLER STATUS PICKER > ======= */
/* ======================================== */
.accountProfilePopoutWrapper-3GskID {
    left: unset;
    width: 220px;
}
.accountProfilePopoutWrapper-3GskID .profileColors-2AgAV4 {
    width: 212px;
    border-radius: 4px;
}
.accountProfilePopoutWrapper-3GskID .overlayBackground-2aa7wt {
    margin: 0;
    width: 212px;
    border-radius: 4px!important;
}
.accountProfilePopoutWrapper-3GskID :where(.profileBadges-2pItdR, .avatarWrapperNormal-ahVUaC, .bannerSVGWrapper-2CLfzN, .userPopoutOverlayBackground-3A0Pcz > :not(.menu-2TXYjN)) {
    display:none;
}

#account.menu-2-eHMB .menuItemFocused-1a4_bh,
#account.menu-2-eHMB .menuItemFocused-1a4_bh .subMenuIcon-25xQRT {
    color: var(--interactive-active);
}
#account.menu-2-eHMB .menuItemFocused-1a4_bh {
    background-color: var(--brand-experiment-560);
}
#account.menu-2-eHMB .menuItemFocused-1a4_bh:active,
#account.menu-2-eHMB .menuItemFocused-1a4_bh:active .subMenuIcon-25xQRT {
    color: var(--white-500);
}
#account.menu-2-eHMB .menuItemFocused-1a4_bh:active {
    background-color: var(--brand-experiment-600);
}


/* ========================================== */
/* ======= < PROFILE MODIFICATIONS > ======= */
/* ======================================== */
.userPopoutOverlayBackground-3A0Pcz {
  background-color: rgba(0, 0, 0, 0.352);
  border-radius: 1rem!important;
}
.messageInputContainer-24qqTx {
  border-radius: 1rem!important;
}
.messageInput-1enlaJ {
  border-radius: 1rem!important;
}
.divider-2dDziJ.divider-1QVlfF {
  display: none;
}


/* =============================================== */
/* ======= < SHADOWS UNDER BADGE THINGY > ======= */
/* ============================================= */
.profileColors-3Y0XaR .profileBadges-31rDHI,
.profileColors-3Y0XaR .badgeList-2pMvZX {
  box-shadow: var(--elevation-medium);
}
.profileColors-3Y0XaR .relationshipButtons-pZ_UWl button {
  box-shadow: var(--elevation-medium);
}
.avatarWrapper-3y0KZ1 circle {
  fill: var(--profile-avatar-border-color);
}
.wrapper-3Un6-K.avatar-1YsFQ1 circle,
.wrapper-1VLyxH.avatar-1YsFQ1 circle,
.wrapper-3Un6-K.avatar-1YsFQ1 rect:not([class]),
.wrapper-1VLyxH.avatar-1YsFQ1 rect:not([class]) {
  fill: none;
}


/* ====================================== */
/* ======= < DM PROFILE THINGY > ======= */
/* ==================================== */
.profilePanel-2VBkh8 {
  width: 275px;
}


/* ===================================== */
/* ======= < SERVER NAME FONT > ======= */
/* =================================== */
.name-3Uvkvr {
  font-family: Discord;
}


/* ======================================================================================================================================= */
/* ============================================================== < CRAP > ============================================================== */
/* ===================================================================================================================================== */

/* ======================================== */
/* =================== < IDFK > ==========* /
/* ====================================== */
.avatarContainerMasked-13fYnN div {
  margin: 0.5px !important;
}
.avatarContainerMasked-13fYnN {
  margin: -1px !important;
}
.dot-e8DTw_ {
  margin-left: 50px !important;
}
.tooltip-14MtrL {
  backdrop-filter: blur(1.5px);
  text-shadow: #000 1px 0 5px;
}
.tooltipPointer-3L49xb {
  border-top-color: rgba(32, 17, 54, 0.7) !important;
}
.tooltipContent-Nejnvh>.colorMuted-20987_ {
  color: #f04747;
}
.tooltipContent-Nejnvh>.row-2OVM4t>svg>path {
  fill: #43b581;
}
.peopleColumn-1wMU14 {
  background: var(--background-primary);
}
.title-31SJ6t {
  background-color: var(--background-secondary) !important;
}


/* =================================================================== */
/* =================== < SVG DOT AND DISCORT NITRO THING > ========== */
/* ================================================================= */
.dot-e8DTw_ {
  left: 50px !important;
  position: relative;
}
.premiumLabel-3HPvdB>svg {
  left: 58px !important;
  position: relative;
}
.icon-3FU6Ir {
  left: 30px !important;
  position: relative;
}


/* ============================================================================= */
/* =================== < CENTER THE CUSTOM STATUS EMOJI IF NO TEXT > ========== */
/* =========================================================================== */
.customStatus-19KW6v .customStatusEmoji-1GD8RK.customStatusSoloEmoji-a_jSVz {
  margin: auto;
}


/* ================================================================ */
/* =================== < MAKE PRONOUNS STAND OUT MORE > ========== */
/* ============================================================== */
/* Make pronouns stand out more */
[class*=pronouns] {
  color: var(--text-normal);
  font-size: 12px; font-weight: 800;
  background: #ffffff20;
  padding: 0.10rem 0.5rem; margin: 0.25rem 0 0 0;
  border-radius: 1rem;
}


/* ==================================================================== */
/* =================== < IMAGE ABOVE PROFILE PANEL THINGY > ========== */
/* ================================================================== */
/* MEOWW */
[class^="panels-3wFtMD"]::before {
  content: "";
  width: 90px;
  height: 96px;
  left: -20px;
  margin-top: -88px;
  position: absolute;
  background-image: url('https://cdn.discordapp.com/emojis/699689521008345189.gif?size=96&quality=lossless');
}

/* Make the forum post action bar actually sticky, like Discord intended but they forgor to put this line */
.scrollerInner-2PPAp2 {
  overflow: unset;
}


/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}




