/**
 * @name Smaller Fixes
 * @author vilchu
 * @version 1.8.2
 * @description my theme consisting of various theme snippets and stuff. I take no credit for anything
**/


/* ================================= */
/* ======= < OTHER IMPORT > ======= */
/* =============================== */
/*@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");*/
@import url("https://discord-theme.pages.dev/assets/snippets/watermark.css");
@import url("//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");
@import url("//dablulite.github.io/BetterFloatingEditor/import.css");
/*@import url("//dablulite.github.io/css-snippets/BetterModals/import.css");*/
@import url("https://anubisnekhet.github.io/discordCSS/notification-icons.css");
@import url("https://ukrioo.github.io/cssCord/Other/PrettyCA.css");
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css");


/* icons */
@import url(//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);


/* ================================= */
/* ======= < FONT IMPORT > =======  */
/* =============================== */
@import url("https://jatin-jindal.github.io/discordfont/DiscordFont.css");

/**:not(code) {
  font-family: 'Didact Gothic Regular', sans-serif;
}*/

:root {
  --font-primary: var(--SKIN-primary-font, "CreArts", "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif) !important;
  --font-display: var(--SKIN-display-font, "CreArts", "Ginto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif") !important
}

@font-face {
  font-family: "CreArts-Dash";
  font-style: normal;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/dash/dash.woff2) format("woff2");
  unicode-range: U+002D
}


@font-face {
  font-family: "CreArts";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/quicksand/quicksand-300.woff2) format("woff2");
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0180-024F
}

@font-face {
  font-family: "CreArts";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/quicksand/quicksand-400.woff2) format("woff2");
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0180-024F
}

@font-face {
  font-family: "CreArts";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/quicksand/quicksand-500.woff2) format("woff2");
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0180-024F
}

@font-face {
  font-family: "CreArts";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/quicksand/quicksand-600.woff2) format("woff2");
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0180-024F
}

@font-face {
  font-family: "CreArts";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/quicksand/quicksand-700.woff2) format("woff2");
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0180-024F
}


/* ================================== */
/* ======= < OTHER THINGYS > ======= */
/* ================================ */
:root {
  /* TAB COLOR THINGY */
  --focus-primary: transparent;
  /* hides stuffs*/
  --stupid-stuff: none;

  --mention-colour: 234, 153, 153;

  /* nicer embed */
  --chattyBorderRadius: 10px;
  --chattyBlur: 5px;

  /* nicer categorys */
  --catagory-background: var(--background-primary); /* catagory background color */
  --catagory-radius: 10px; /* catagory radius */
  --catagory-spacing: 10px; /* Spacing between catagories */
  --seperator: none; /* change to 'block' for seperator between home and catagories */

  /* Watermark */
  --watermark: "UwUcord";
  
  /* chatbar shit */
  --radius-primary: 18px;
  --radius-tertiary: 6px;
  --layout: calc(var(--layout-margin) / 2);
  --layout-margin: 20px;

  /* user panel thingy */
  --radius-secondary: 12px;
  --inner-primary: 8px;
  --inner-secondary: 12px;
  --inner-tertiary: 16px;

  --panel-colour: hsl(225, 6%, 13%); /* dark gray discord hsl(225, 6%, 13%);*/

  /* windows buttons close minimize etc */
  --window-colour: hsl(0, 32%, 40%); /* normal grey: hsl(223, 7%, 21%);*/

  /* link color when sending caht */
  --text-link: hsl(240, 14%, 65%); 

  /* channel scrollbar color */
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;

  /* bubble thingys */
  --chat-bubble-default: hsla(0, 0%, 0%,0.25);
    --chat-bubble-default-hover: hsla(0, 0%, 0%,0.50);
    --chat-bubble-replying: hsla(0, 0%, 0%, 0.25);
    --chat-bubble-replying-hover: hsla(0, 0%, 0%, 0.50);
    --chat-bubble-mentioned: hsla(0, 0%, 0%, 0.25);
    --chat-bubble-mentioned-hover: hsla(0, 0%, 0%, 0.50);
  --chat-bubble-border-radius: 10px;

  /* switch colours */
  --BDswitch-color: hsl(0, 85%, 61%);

  /* home icon */
  --home-icon-url: url("https://i.imgur.com/RihOp3U.png");
  --discord-icon: none;
  --home-icon: block;
}


/* ==================================== */
/* ======= < WINDOWS BUTTONS > ======= */
/* ================================== */
:root .winButton_a934d8 {
  background-color: var(--window-colour);
}

:root .winButton_a934d8:last-child {
  border-bottom-left-radius: 8px;
}


/* ============================== */
/* ======= < WATERMARK > ======= */
/* ============================ */
:root:has(bd-body) .wordmark_a934d8::after {
  content: var(--watermark);
}

.wordmark_a934d8 {
  pointer-events: unset;
  padding: 0
}

.wordmark_a934d8>svg {
  display: none
}

.wordmark_a934d8::after {
  position: absolute;
  top: 4px;
  padding: 4px 9px 3px;
  font-size: 9px;
  letter-spacing: .4px;
  white-space: nowrap;
  font-family: var(--font-headline);
  content: var(--watermark);
}

/* link color */
.markup_d6076c a {
  color: hsl(240, 38%, 75%);
}


/* =================================== */
/* ======= < WHOLE ASS LOOK > ======= */
/* ================================= */
.guilds_a4d4d9 {
  margin: 10px;
  border-radius: 15px;
}

.content_a4d4d9>.sidebar_a4d4d9,
.chat_a7d72e {
  margin: 10px 13px 10px 0;
  border-radius: 15px !important;
}

.flex_bba380.flex_ec1a20.horizontalReverse_bba380.horizontalReverse_d76671.flex_ec1a20.directionRowReverse_f644aa.justifyStart_ec1a20.alignStretch_ec1a20.noWrap_ec1a20.footer-31IekZ.footerSeparator-VzAYwb {
  background-color: var(--background-floating);
}


/* ============================== */
/* ======= < HOME ICON > ======= */
/* ============================ */
/* Remove SVG Icon [home] */
[class*=guilds] [class*=childWrapper]>svg:not([class*=favoriteIcon]) {
  display: var(--discord-icon);
}

[class*=guilds] [class*=childWrapper]:has(svg:not([class*=favoriteIcon]))::before {
  content: '';
  display: var(--home-icon) !important;
  position: absolute;
  width: 85%;
  height: 85%;
  background: var(--home-icon-url) center/contain no-repeat;
}

[class*=guilds] .childWrapper_f90abb.childWrapperNoHoverBg_f90abb {
  background-color: transparent !important;
}

.guildSeparator_d0c57e {
  display: none;
}

/* ========================================== */
/* ======= < TEXT SELECTION COLOUR > ======= */
/* ======================================== */
::selection {
  background: hsla(240, 14%, 57%, 0.75) !important;
}

.highlight {
  background: hsla(240, 14%, 57%, 0.75) !important;
}

/* thread color */
.spine_e1e976 {
  color: hsla(147, 50%, 52%, 0.993);
}


/* ======================================== */
/* ======= < HI-COLOUR MENTIONS > ======= */
/* ====================================== */
/*:root {
  --brand-experiment-05a: rgba(var(--mention-colour), 0.08);
}

.mentioned_d5deea {
  background-color: rgba(var(--mention-colour), 0.08) !important;
}

.mentioned_d5deea:hover {
  background-color: rgba(var(--mention-colour), 0.1) !important;
}

div[class*='mentioned']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}

div[class*='replying']::before {
  width: 4px;
  background-color: rgb(var(--mention-colour));
}

.message_d5deea.cozyMessage_d5deea.ephemeral_d5deea.groupStart_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa:hover {
  background-color: rgba(var(--mention-colour), 0.1) !important;
}

.message_d5deea.cozyMessage_d5deea.replying_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa {
  background-color: rgba(var(--mention-colour), 0.08);
}

.message_d5deea.cozyMessage_d5deea.ephemeral_d5deea.groupStart_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa::before {
  background-color: rgb(var(--mention-colour));
}

.message_d5deea.cozyMessage_d5deea.ephemeral_d5deea.groupStart_d5deea.selected_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa {
  background-color: rgba(var(--mention-colour), 0.08);
}*/

/* -------------------------------------------------------------------------------------------------------------------------------- */
.mentioned_d5deea {
  background: none;
}


div[class*='replying']::before {
  width: 2px;
  background-color: rgb(var(--mention-colour));
}
.message_d5deea.cozyMessage_d5deea.groupStart_d5deea.replying_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa:hover {
  background-color: rgba(var(--mention-colour), 0.06)!important;
}
.message_d5deea.cozyMessage_d5deea.replying_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa {
  background-color: rgba(var(--mention-colour), 0.08);
}

.message_d5deea:hover,
.message_d5deea.selected_d5deea {
  background-color: var(--bg-overlay-1, var(--background-message-hover)) !important;
}

.messageContent_ec86aa,
.compact_ec86aa .contents_ec86aa {
  position: unset!important;
}

.mention,
.roleMention_d6076c {
  position: unset;
  filter: none;
}

.hasReply_ec86aa.mentioned_d5deea:not(:has([class*="mention"])):before,
.mentioned_d5deea .mention:before,
.mentioned_d5deea .roleMention_d6076c:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: rgb(var(--mention-colour));
  filter: saturate(var(--saturation-factor, 1));
}

.hasReply_ec86aa.mentioned_d5deea:not(:has([class*="ention"])):after,
.mentioned_d5deea .mention:after,
.mentioned_d5deea .roleMention_d6076c:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--mention-colour), 0.1);
  z-index: -1;
  filter: saturate(var(--saturation-factor, 1));
}

.roleMention_d6076c[style]:before {
  background-color: currentColor;
}

.roleMention_d6076c[style]:after {
  background: currentColor;
  opacity: 0.1;
}

.mentioned_d5deea:before,
.mentioned_d5deea:after,
.repliedMessage_ec86aa [class*="mention"]:before,
.repliedMessage_ec86aa [class*="mention"]:after,
.mention~[class*="mention"]:before,
.mention~[class*="mention"]:after,
.roleMention_d6076c~[class*="mention"]:before,
.roleMention_d6076c~[class*="mention"]:after,
.mentioned_d5deea:before,
.mentioned_d5deea:after {
  content: unset;
}


/* ================================= */
/* ======= < REMOVE STUFF > ======= */
/* =============================== */
div.iconWrapper_e44302.clickable_e44302[aria-label='Help'],
div[id='user-context-invite-to-server'],
div[id='user-context-call'],
.guildIconContainer-2FW_iA,
.children_e44302::after,
.tabBarItemContainer_e7c031 svg {
  display: var(--stupid-stuff) !important;
}

/* Slash command button in attachment popout */
#channel-attach-SLASH_COMMAND {
  display: none !important;
}

/* Explore */
.tutorialContainer_c96c45+div {
  display: none;
}


/* ========================== */
/* ======= < ICONS > ======= */
/* ======================== */
/* voice  joined icon */
.iconBadge_c96c45 {
  background-color: hsl(240, 22%, 60%) !important;
}

/* notification color */
.numberBadge_df8943.base_df8943.eyebrow_df8943.baseShapeRound_df8943 {
  background-color: hsl(240, 22%, 60%) !important;
}

/*ping design*/
.numberBadge__40d6f {
  background-color: hsl(240, 22%, 60%)!important;
}
.bar_c10249.unreadMentionsBar_fea3ef.mention_c10249.active_c10249 {
  background-color: hsl(240, 22%, 60%) !important;
}

/* muted microphone icon */
.iconSpacing_cdc675[aria-label="Muted"] .icon_cdc675 {
  color: hsl(0, 64%, 57%);
}
.iconSpacing_cdc675[aria-label="Deafened"] .icon_cdc675 {
  color: hsl(0, 64%, 57%);
}

/* ================================== */
/* ======= < REORDER STUFF > ======= */
/* ================================ */
.iconWrapper_e44302 {
  order: -1;
}


/* ============================================ */
/* ======= < SERVER HOVER MUTED TEXT > ======= */
/* ========================================== */
.muteText_a6ae3c {
  color: hsl(0, 64%, 57%)!important;
}


/* ===================================== */
/* ======= < SMALLER STICKERS > ======= */
/* =================================== */
.inspectedIndicator_a708c4,
.pngImage_cb3343.stickerAsset_cb3343,
.lottieCanvas_cb3343.stickerAsset_cb3343:not(div.welcomeCTA_f6dde0>button>div>div>div>canvas),
span.clickableSticker_a1debe,
.clickableSticker_a1debe {
  width: 80px !important;
  height: 80px !important;
}
.assetWrapper_cb3343 {
    width: 80px !important;
    height: 80px !important;
}
div>div>div.emojiSection_e58351>div>div:nth-child(1)>div>img {
  width: 48px!important;
  height: 48px!important;
  top: 5px
}

div>div>div.emojiSection_e58351>div>div:nth-child(1)>div {
  width: 48px !important;
  height: 48px !important;
}

div.welcomeCTA_f6dde0>button>div>div>div {
  width: 28px !important;
  height: 28px !important;
}


/* ============================================ */
/* ======= < COOLER EMBEDS AND MEDIA > ======= */
/* ========================================== */
#app-mount .embedFull_ad0b71 {
  background: hsla(0, 0%, 0%, 0.2);
  border-left: 0px;
  border-bottom: var(--chattyBorderRadius) solid;
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}

#app-mount .embedFull_ad0b71 .grid_ad0b71 {
  padding-top: 3px;
  padding-bottom: 10px;
}

#app-mount .imageWrapper__178ee {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
  transition: 0.2s ease-in-out;
}

#app-mount .imageWrapper__178ee:hover {
  transform: scaleY(1.02) scaleX(1.02);
}

#app-mount .video_f316dd {
  border-radius: var(--chattyBorderRadius);
  box-shadow: var(--elevationHigh);
}

/*.accountProfileCard_b69b77 {
  background-color: transparent !important;
  background: transparent !important;
  backdrop-filter: blur(var(--chattyBlur)) brightness(0.7) !important;
  border-radius: var(--chattyBorderRadius) !important;
}
.accountProfileCard_b69b77 {
  box-shadow: 0px 0px 20px black !important;
}*/


/* ========================================= */
/* ======= < FULL COLOURED EMBEDS > ======= */
/* ======================================= */
.embedFull_ad0b71 {
  overflow: hidden;
  background: var(--background-primary);
  border-left: none;
  /*border-top: 4px solid var(--background-tertiary);*/
  z-index: 0;
}

.embedFull_ad0b71::before {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  width: 0;
  border-right: 100vw solid transparent;
  border-color: inherit;
  opacity: 0.15;
  z-index: -1;
}

/* Embeds */
.embedFull_ad0b71 {
  overflow: hidden;
  border-left: none;
  z-index: 0;
  border-radius: var(--chat-bubble-border-radius);
  /*width: fit-content;*/
  background-color: inherit;
  margin: 0.25em 0.125em 0 !important
}

.embedFull_ad0b71:hover {
  filter: brightness(1.2)
}

.embedFull_ad0b71::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  z-index: -1
}

.embedFull_ad0b71::after {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.99);
  z-index: -1;
}


/* ==================================== */
/* ======= < BUBBLE MESSAGES > ======= */
/* ================================== */
.channelTextArea_a7d72e {
  background-color: transparent
}

/*.messageListItem_d5deea {
	margin-left: 10px 
}*/
/*.zalgo_ec86aa:has(.contents_ec86aa) {
	max-width: fit-content 
}*/

.contents_ec86aa .avatar_ec86aa {
  margin-top: calc(5px - 0.125em);
  scale: 1.15
}

.contents_ec86aa [class*=avatarDecoration-] {
  margin-top: calc(2px - 0.125em);
  scale: 1.15
}

.highlighted_fc800f:hover,
.replying_d5deea:hover {
  position: relative;
}

.groupStart_d5deea.cozyMessage_d5deea:not(.systemMessage_d5deea) .contents_ec86aa>.markup_d6076c,
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) {
  margin: 0.125em 0;
  padding: 0.5em;
  border-radius: var(--chat-bubble-border-radius);
  background: var(--chat-bubble-default);
  max-width: max-content;
}


.groupStart_d5deea.cozyMessage_d5deea:not(.systemMessage_d5deea) .contents_ec86aa>.markup_d6076c:hover,
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa:hover>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) {
  background: var(--chat-bubble-default-hover)
}

/*.groupStart_d5deea.cozyMessage_d5deea.replying_d5deea>.contents_ec86aa,*/
.cozyMessage_d5deea.replying_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.replying_d5deea .container_b558d0>:not(.reactions_f61c73, .searchResultsWrap_c2b47d *) {
  background: var(--chat-bubble-replying);
  border-radius: var(--chat-bubble-border-radius);
  max-width: max-content
}

.scrollableContainer_d0696b {
  background: transparent
}

/*.groupStart_d5deea.cozyMessage_d5deea.replying_d5deea>.contents_ec86aa:hover,*/
.cozyMessage_d5deea.replying_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *):hover,
.replying_d5deea .container_b558d0>:not(.reactions_f61c73, .searchResultsWrap_c2b47d *):hover {
  background: var(--chat-bubble-replying-hover)
}

/*.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea>.contents_ec86aa,*/
.cozyMessage_d5deea.mentioned_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *)

/*, 
.mentioned_d5deea .container_b558d0>:not(.reactions_f61c73, .searchResultsWrap_c2b47d *)*/
  {
  background: var(--chat-bubble-mentioned);
  border-radius: var(--chat-bubble-border-radius)
}

/*.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea>.contents_ec86aa:hover,*/
.cozyMessage_d5deea.mentioned_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *):hover

/*, 
.mentioned_d5deea .container_b558d0>:not(.reactions_f61c73, .searchResultsWrap_c2b47d *):hover*/
  {
  background: var(--chat-bubble-mentioned-hover)
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ================================= */
/* ======= < ROLE COLOURS > ======= */
/* =============================== */
/* Role pill background by alije */
[class*="role_"] [class*="roleCircle_"]:before,
[class*="actionButton_"][class*="role_"][class*="justifyCenter_"] {
  border-radius: 5px;
}

[class*="role_"] {
  transform: translate(0);
  border: 0;
}

[class*="role_"] [class*="roleRemoveIcon_"] {
  margin: 0;
  left: 1px;
  transform: translate(50%, -50%);
}

[class*="role_"] [class*="roleRemoveButton_"] {
  position: static;
}

[class*="root_"]>[class*="role_"] [class*="roleCircle_"]:before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border: 2px solid transparent;
  opacity: .4;
}

[class*="roles_"] {
  color: var(--text-normal);
}


/* ========================================= */
/* ======= < ROUNDED CONTEXT MENU > ======= */
/* ======================================= */
.menu_d90b3d {
  position: relative;
  background: none;
  border-radius: 10px;
}

.menu_d90b3d:not(.menu_d90b3d.flexible_d90b3d.menu_ad5fac)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsla(0, 0%, 0%, 0.67);
  backdrop-filter: blur(5px);
}

.button_a24e84,
.button_a24e84:hover {
  background: none;
  backdrop-filter: blur(5px);
}

.item_d90b3d {
  border-radius: 6px;
}

/* search bar */
.container_eedf95 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsla(0, 0%, 0%, 0.56);
  backdrop-filter: blur(5px);
}

ul.resultsGroup_b0286e {
  background-color: hsl(var(--primary-700-hsl)/0.25) !important;
  backdrop-filter: blur(5px);
}

#SEARCH_OPTIONS-header,
#HISTORY-header {
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 1000;
  text-decoration: solid 2px underline var(--text-danger);
  text-underline-position: under;
  padding-top: 10px;
}

.option_b0286e {
  --search-popout-option-fade: linear-gradient(90deg, transparent, var(--popout-bg) 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg, transparent, var(--item-hover-bg) 50%);
}


/* ===================================== */
/* ======= < SEND MESSAGE BAR > ======= */
/* =================================== */
.form_a7d72e {
  margin-left: -14px !important;
}

[class*=chat] [class*=textArea]:not(.markup_d6076c.editor_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b.textAreaWithoutAttachmentButton_d0696b,div.bodyContainer_c1668f>div>div>div>div>div>div>div, .inputDefault_f8bc55.input_f8bc55.textArea_a2b402.scrollbarDefault_c858ce.scrollbar_c858ce.title_c1668f) {
  background-color: hsla(0, 0%, 0%, 0.25)!important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
/*  filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 20, 0.2));*/
  order: 0;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc((var(--layout-margin) / 2) + (var(--layout-margin) / 2));
}
[class*=chat] [class*=buttons]:not([class*=attachButton]),
[class*=jumpToPresentBar] {
  background-color: hsla(0, 0%, 0%, 0.25)!important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem hsla(240, 100%, 4%, 0.2));
  order: 3 !important;
  background: var(--background-secondary);
  border-radius: 90px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto !important;
}

button[class*=attachButton],
[class*=attachWrapper] [class*=lookBlank] {
  background-color: hsla(0, 0%, 0%, 0.25)!important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem hsla(240, 100%, 4%, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}

#app-mount>div[appDevToolsWrapper]:nth-child([class*=chat__]) {
  background-color: hsla(0, 0%, 0%, 0.86)!important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem hsla(240, 100%, 4%, 0.2));
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}

[class*=chat] [class*=scrollableContainer] {
  background: transparent !important;
  background-color: hsla(0, 0%, 88%, 0.77);
}

button[class*=attachButton] {
  margin-left: 0px;
  padding: 0px;
  height: 44px;
  width: 44px;
}
.button_d0696b {
  padding: 0px;
  margin: 0px;
  width: 44px
}

[class*=textAreaSlate]:not([class*=attachButton]) {
  margin-right: 20px;
}

/* message bar position when no attachment button */
.form_a7d72e:has(.channelTextAreaDisabled_d0696b) {
  width: 1260px;
}
/* forum send message bar or somth*/
div.form_c1668f>div.bodyContainer_c1668f>div>div>div>div>div>div {
  margin-left: 0px !important;
}
div.bodyContainer_c1668f>div>div>div>div>div>div>div>div>div>span>span>span {
  margin-left: 10px !important;
}

div>div.contents_ec86aa>div>div.channelTextAreaContainer_d0696b>div>div>div>div.textArea_d0696b.textAreaSlate_d0696b.slateContainer_e52116 {
    margin-left: 0px!important;
}
.scrollableContainer_d0696b:not(.fileInput_a15d29,.bioTextArea_ccf27d.scrollableContainer_d0696b.themedBackground_d0696b, :has(.attachWrapper_f298d4)) .textArea_d0696b:not(:has(>div>div>[class^="applicationCommand_"])) {
  margin-left: 64px;
  width: 1155px;
}

.textArea_d0696b:has(>div>div>[class^="applicationCommand_"]) {
  margin-left: 24px;
}

.textArea_d0696b:not(:has(+[class^="buttons_"])):has(>div>div>[class^="applicationCommand_"]) {
  margin-right: 60px !important;
}

[class^="attachButton_"]:has([mask*='#svg-mask-avatar-default']) {
  left: 10px;
  position: relative;
}

/* message bar position when no attachment button */
.form_a7d72e:has(.channelTextAreaDisabled_d0696b) {
  width: 1260px;
}

div>div.contents_ec86aa>div>div.channelTextAreaContainer_d0696b>div>div>div>div.textArea_d0696b.textAreaSlate_d0696b.slateContainer_e52116 {
  margin-left: 0px !important;
}

.scrollableContainer_d0696b:not(.bioTextArea_ccf27d.scrollableContainer_d0696b.themedBackground_d0696b, :has(.attachWrapper_f298d4)) .textArea_d0696b:not(:has(>div>div>[class^="applicationCommand_"])) {
  margin-left: 64px;
  width: 1155px;
}

.textArea_d0696b:has(>div>div>[class^="applicationCommand_"]) {
  margin-left: 24px;
}

.textArea_d0696b:not(:has(+[class^="buttons_"])):has(>div>div>[class^="applicationCommand_"]) {
  margin-right: 60px !important;
}

[class^="attachButton_"]:has([mask*='#svg-mask-avatar-default']) {
  left: 10px;
  position: relative;
}

/* send message in small new profile shit */
div.editor_dc0b43.textArea_d0696b.textAreaSlate_d0696b.slateContainer_e52116 {
  margin-left: -5px !important;
}

div>div.contents_ec86aa>div>div.channelTextArea_d5deea.channelTextArea_d0696b>div.scrollableContainer_d0696b.themedBackground_d0696b>div>div.textArea_d0696b.textAreaSlate_d0696b.slateContainer_e52116 {
  margin-left: 0px !important;
}

[class*=textAreaSlate]::-webkit-scrollbar-thumb,
[class*=textAreaSlate]::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--radius-primary);
  background-color: var(--scrollbar-auto-track);
  margin-top: 10px;
  margin-bottom: 10px;
}

[class*=threadSuggestionBar] {
  width: 1500px;
  margin-left: 65px;
  border-radius: 10px;
}

[class*=chat] [class*=attachedBars] {
  order: -1;
  background: transparent;
}

[class*=chat] [class*=channelAttachmentArea] {
  gap: 12px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: 20px 0px 0px 0px;
}

[class*=channelAttachmentArea] [class*=upload]:not([class*=uploadContainer]) {
  border-radius: var(--radius-secondary);
  margin: 0;
  padding: 8px;
  position: relative;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 130px;
  background: var(--background-primary);
}

[class*=activeButtonChild]:hover:focus:focus-within {
  color: var(--interactive-active);
}

[class*=textArea] [class*=button]:not([class*=buttons]) {
  padding: 0px;
  margin: 0px;
  width: 44px;
}

[class*=separator]:has([class*=innerButton]):before {
  display: none;
}

[class*=activeButtonChild] {
  color: var(--interactive-normal);
}

[role=textbox],
[class*=placeholder] {
  margin-left: 15px !important;
  margin-right: 3px !important;
}

.markup_d6076c.editor_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b.textAreaWithoutAttachmentButton_d0696b {
  margin-left: 0px !important;
}

#app-mount [class*=textArea] [class*=slateContainer] {
  background-color: hsla(0, 0%, 0%, 0.25)!important;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0rem 0rem 0.5rem hsla(240, 100%, 4%, 0.2));
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: -50px;
  margin-left: 0px !important;
}

[class*=characterCount] {
  margin-right: 03px;
}

[class*=bioTextArea]::-webkit-scrollbar {
  display: none;
}

[class*=chatContent] [class*=scroller]:not([class*=typing]) {
  margin-bottom: -50px;
  padding-bottom: 50px;
}

[class*=scrollableContainer]:not(.bioTextArea_ccf27d.scrollableContainer_d0696b.themedBackground_d0696b),
[class*=channelTextArea]:not(div[class^="channelTextAreaContainer"]:first-child, ) {
  background: transparent !important;
}


/* Move typing indicators */
div[class^=typing] {
  /*top: 45px;*/
  right: calc(var(--custom-index-scrollbar-margin) * 25 + var(--custom-index-scrollbar-width));
  margin-left: auto;
  width: fit-content;
  padding-left: 2px;
  padding-right: 9px;
  border-radius: 8px 8px 0px 0px;
  /*background-color: var(--channeltextarea-background);*/
}

.textArea_d0696b.textAreaSlate_d0696b.slateContainer_e52116>div>div.placeholder_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b.textAreaWithoutAttachmentButton_d0696b {
  display: none;
}

/* no GIF  or Gift buttons */
.contents_dd4f85.button_cecf00.button_d0696b {
  display: none;
}

/* DM right side profile shit */
aside.profilePanel_b433b4 {
  width: 240px;
}

/* weird ass gray line on scroller */
.form_a7d72e::after {
  display: none;
}

/*.form_a7d72e:before {
  display: none;
}*/

/* invisible typing button off */
.invisible-typing-button {
  display: none
}

/* -------------------------------------------------------- */
.autocomplete_f23da8.outerWrapper_fe2299,
.autocomplete_f23da8.autocomplete_bea0d0.autocompleteAttached_bea0d0:not(.scroller_bea0d0.thin_eed6a8.scrollerBase_eed6a8,
  .autocompleteInner_f23da8.autocompleteInner_bea0d0) {
  width: auto;
  margin-right: 72px;
  margin-left: 80px;
}

.wrapper_e06857.categoryHeader_fe2299 {
  background-color: rgba(0, 0, 0, 0);
}

.barButtonAlt_cf58b5.barButtonBase_cf58b5,
.barButtonMain_cf58b5.barButtonBase_cf58b5 {
  margin-bottom: -6px;
}

.jumpToPresentBar_cf58b5.barBase_cf58b5 {
  margin-left: 65px;
  margin-right: 72px !important;
  width: auto;
  margin-bottom: 8px;
}


.chat_a7d72e .replyBar_b11c5e,
.chat_fb4810 .replyBar_b11c5e {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
  width: auto;
  margin-left: 80px;
  margin-right: 72px;
  border-radius: 10px;
}

/* honestly I have no idea what's this */
.threadSuggestionBar_b11c5e {
  width: 1500px;
  margin-left: 65px;
  border-radius: 10px;
}

.bioTextArea_ccf27d.scrollableContainer_d0696b.themedBackground_d0696b {
  border-radius: 15px;
  width: 300px;
}

/* bigger emoji picker */
#emoji-picker-tab {
  order: 1;
  margin-left: 0px;
  margin-right: 8px
}

#gif-picker-tab {
  order: 2;
  margin-right: 8px
}

#sticker-picker-tab {
  order: 3;
  margin-left: 0px
}

.emojiPickerInExpressionPicker-2nOwH8 .emojiPicker_c6ee36 {
  background-color: hsla(0, 0%, 0%, 0);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  flex: 1 auto auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: auto
}

.drawerSizingWrapper_af5dbb {
  resize: vertical
}

.positionContainer_af5dbb {
  resize: vertical;
  width: 100%;
  height: 644px;
  pointer-events: none;
  max-width: 100%;
  margin: 0px
}

/* ----------------------------------------------------------------------------------------------- */
:root {
  --background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/68c512cd-5771-4700-b611-d8bfe279847d/dcehv21-059039f7-f611-4e44-b898-d5dd9c91d981.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY4YzUxMmNkLTU3NzEtNDcwMC1iNjExLWQ4YmZlMjc5ODQ3ZFwvZGNlaHYyMS0wNTkwMzlmNy1mNjExLTRlNDQtYjg5OC1kNWRkOWM5MWQ5ODEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oEFjfzpapXzRJ28FPMooEGDnBa4o0X0L3dXwzA1doBE");
  /* Change image here */
  --size: 60px;
  /* Change Image size here */
  --align: 1105px;
  /* Change alignment here */
}

main[class^="chatContent_"] form[class^="form_"]::before {
  background-image: var(--background-image) !important;
  background-size: contain !important;
  background-position: var(--align) !important;
  background-repeat: no-repeat !important;
  /*  transform: scaleX(1);*/
  margin-left: 2%;
  margin-right: 2%;
  height: var(--size);
  max-height: var(--size);
  top: calc(var(--size) - var(--size) - var(--size));
  pointer-events: none;
}


/* ============================================= */
/* ======= < FANCY CHANNEL CATEGORIES > ======= */
/* =========================================== */
/*Made by Hearty */
.sectionDivider_c43953 {
  display: var(--seperator);
  margin-bottom: var(--catagory-spacing);
}

/* display/remove seperator */
[aria-label='Channels'] .containerDefault_a08117~.containerDefault_f6f816,
[aria-label='Channels'] .containerDefault_a08117 {
  background-color: var(--catagory-background) !important; /* set color */
  margin-left: 8px;
  padding-right: 8px; /* clean up formatting */
}

[aria-label='Channels'] .containerDefault_f6f816:has(+ .containerDefault_a08117),
[aria-label='Channels'] .containerDefault_a08117:has(+ .containerDefault_a08117),
[aria-label='Channels'] li:last-child {
  margin-bottom: var(--catagory-spacing); /* space between catagories */
  border-radius: 0 0 var(--catagory-radius) var(--catagory-radius); /* add border to bottom of catagories */
  padding-bottom: 8px; /* clean up formatting */

}

.containerDefault_a08117 {
  border-radius: var(--catagory-radius) var(--catagory-radius) 0 0; /* add border to top of catagories */
  padding: 6px; /* clean up formatting */

}

[aria-label='Channels'] .containerDefault_a08117:not(:has(+ .containerDefault_f6f816)) {
  border-radius: var(--catagory-radius); /* add border to closed catagories */
}

.sidebar_a4d4d9 .name_a08117 {
  text-transform: uppercase; /* make catagory title uppercase */
  text-align: center; /* center title */
}
/* active channel */
.link_d8bfb3 {
  border-radius: 10px
}


/* ==================================================== */
/* ======= < SHOW CREATE CHANNEL UNTIL HOVER > ======= */
/* ================================================== */
.containerDefault_a08117:hover .arrow_d64d50 {
  display: block;
}

.arrow_d64d50 {
  display: none;
}

.addButtonIcon_a08117 {
  display: none;
}

.containerDefault_a08117:hover .addButtonIcon_a08117 {
  display: block;
}

/* ==================================================== */
/* ======= < SERVER CHANNEL MEMBERS COLOURS > ======= */
/* ================================================= */
span[class*="username"]>span[class*="desaturateUserColors"]::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.125;
  background: currentColor;
  border-radius: 5px;
}

[class*="nameAndDecorators-"] {
  z-index: 0;
}

[class*="member-"] [class*="container-"] [class*="selected-"]::after {
  border-radius: 4px;
  background: hsl(0, 0%, 100%);
}

[class*="membersGroup-"]+[class*="container-"] {
  margin-top: 5px;
}

/* ======================================== */
/* ======= < JUMP TO PRESENT BAR > ======= */
/* ====================================== */
/* Jump To Present Bar Revamp */
[class*="jumpToPresentBar"] {
  display: contents;
}

[class*="jumpToPresentBar"]>button:first-child {
  display: none;
}

[class*="jumpToPresentBar"]>button:last-child {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--background-tertiary);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size .2s .1s, color .2s, padding .4s .1s;
}

[class*="jumpToPresentBar"]>button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: hsl(0, 0%, 100%);
  transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover>button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  transition: font-size .2s, color .2s .1s, padding .4s;
}

[class*="jumpToPresentBar"]:hover>button svg {
  margin-right: 2px;
  margin-left: -6px;
}


/* =================================== */
/* ======= < TIMESTAMP ICON > ======= */
/* ================================= */
.timestamp_d6076c {
  border-radius: 7px;
  padding: 2.5px;
}

.timestamp_d6076c::before {
  content: url("data:image/svg+xml,%3Csvg width='12px' height='12px' role='img' fill='white' viewBox='0 0 520 520' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z'/%3E%3C/svg%3E");
  margin: 4px;
  position: relative;
  top: 1.5px;
}

.theme-light .timestamp_d6076c::before {
  filter: invert(87%);
}

/* simplified edited icon */
.edited_ec86aa {
  color: hsla(0, 0%, 0%, 0);
}

.edited_ec86aa::before {
  content: "(✎)";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
}


/* ====================================== */
/* ======= < JOINED VOICE ICON > ======= */
/* ==================================== */
.wrapper_d8bfb3.modeConnected_d8bfb3 .icon_d8bfb3 {
  color: var(--status-positive);
}


/* =================================== */
/* ======= < BDRED SWITCHES > ======= */
/* ================================= */
.bd-switch-body {
  background-color: var(--BDswitch-color); /* Controls Off Switch */

}

.bd-switch-body .bd-switch-slider rect {
  fill: hsl(0, 0%, 100%);
}

.bd-switch-body .bd-switch-slider path {
  fill: hsl(0, 0%, 100%);
}

.bd-switch input:checked+.bd-switch-body {
  background-color: hsl(153, 46%, 49%); /* Controls On Switch */
}

.bd-switch input:checked+.bd-switch-body .bd-switch-slider rect {
  fill: hsl(0, 0%, 100%);
}

.bd-switch input:checked+.bd-switch-body .bd-switch-slider path {
  fill: hsl(0, 0%, 100%)
}

/* discord settings switch */
.container_cebd1c[style*="128"] {
  background: var(--BDswitch-color)!important;
}
.slider_cebd1c path {
  fill: transparent;
}


/* ========================================= */
/* ======= < PROFILE PANEL THINGY > ======= */
/* ======================================= */
:root .panels_a4d4d9 {
  margin: 0 5px 8px 5px;
  border-radius: calc(20px - 5px);
  background-color: var(--panel-colour);
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 0%, 0.2), 0 0 0 1px hsla(0, 29%, 17%, 0.11);
  overflow: hidden;
}
/* small shit in background */
.sidebar_a4d4d9 {
  background-color: var(--background-secondary);
}

:root .panels_a4d4d9 .wrapper_adcaac>.container_adcaac {
  background-color: var(--panel-colour);
}

:root .wrapper_adcaac>.container__13b2a .header-2C89wJ {
  background-color: var(--panel-colour);
}

:root .wrapper_adcaac>.container__13b2a section {
  background-color: var(--panel-colour);
}

.panel_bf1a22.activityPanel_a4d4d9,
.container_adcaac {
  background-color: var(--panel-colour) !important;
}

.container_b2ca13 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(105px + var(--inner-primary) + var(--inner-primary));
  padding: 0px;
  margin: 0px;
  background-color: var(--panel-colour)!important;
}

.container_b2ca13 .avatarWrapper_b2ca13 {
  background: var(--background-primary); /* var(--background-primary) */
  border-radius: var(--radius-secondary);
  margin: var(--inner-primary) 0px 0px var(--inner-primary);
  padding: calc(3px + var(--inner-primary));
  grid-column: 1;
  height: 38px;
 margin-right: 9px!important;
}

.container_b2ca13:not(.powercord-spotify .container_b2ca13) .withTagAsButton_b2ca13,
.container_b2ca13 .nameTag_b2ca13 {
  /*background: var(--background-primary);*/
  border-radius: 15px var(--radius-secondary) var(--radius-secondary) 15px;
  margin: var(--inner-primary) var(--inner-primary) 0px 10px;
  grid-column: 2;
  height: 38px;
}

.container_b2ca13 .flex_bba380 {
  display: grid;
  margin-left: var(--inner-primary);
  margin-right: var(--inner-primary);
  grid-column: 1/-1;
  grid-gap: var(--inner-primary);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.container_b2ca13 .directionRow__65900 .button_f67531 {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
  height: 34px;
}

div.avatar_b2ca13.wrapper-1VLyxH {
  height: 40px!important;
  width: 40px!important;
}

.tabBarContainer-sCZC4w {
  justify-content: center;
  display: flex;
  padding-left: 0!important;
}

.tabBarItem_b9fccc {
  margin-right: 16px;
  margin-left: 16px;
}

.button_adcaac.buttonColor_adcaac.button_dd4f85.lookFilled_dd4f85.colorBrand_dd4f85.sizeSmall_dd4f85 {
  border-radius: 10px!important;
}

#app-mount .userProfileActivity-sal5no {
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

#app-mount .userProfileActivity-sal5no .bodyNormal_d5089b,
#app-mount .userProfileActivity-sal5no .bodyAlignCenter_d5089b {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--background-secondary-alt);
  border: 1px solid hsla(0, 0%, 50%, 0.4);
}

.theme-dark .newProfileActivityStyles .platformIcon_d5089b,
.theme-light .newProfileActivityStyles .platformIcon_d5089b {
  top: 40px;
}

.container_b2ca13>.flex_bba380>button {
  border-radius: 15px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay, var(--background-primary)); /*var(--inversed-overlay, var(--background-primary))*/
  transition: color .15s ease-out, background-color .15s ease-out;
}

/* User Area Icon Recolor where the mic etc is */
.panels_a4d4d9 .lottieIcon_f73ef7 :not(defs *)[fill][fill-opacity] {
  fill: hsl(215, 9%, 73%);
}

.lottieIcon_f73ef7>svg>g>g>g:nth-child(1)>g>g:nth-child(2)>g:nth-child(2)>path {
  stroke: hsl(215, 9%, 73%);
}

/* ========================================== */
/* ======= < PROFILE MODIFICATIONS > ======= */
/* ======================================== */
/* Unclamp User Bios. */
.descriptionClamp_fc5c48:not(.headerText_d331f1 .descriptionClamp_fc5c48) {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: 112px;
  overflow-x: hidden;
  overflow-y: auto;
}
.descriptionClamp_fc5c48::-webkit-scrollbar {
  display: none
}

.viewFullBio_fc5c48 {
  display: none;
}

/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: unset !important;
}

.footer_b07019 .channelTextArea_d0696b {
  display: none;
}


/* ================================================================ */
/* =================== < MAKE PRONOUNS STAND OUT MORE > ========== */
/* ============================================================== */
.pronounsTooltip_c32acf {
  color: var(--text-normal);
  font-size: 12px;
  font-weight: 800;
  background: hsla(0, 1%, 38%,0.44);
  padding: 0.10rem 0.5rem;
  margin: 0.25rem 0 0 0;
  border-radius: 1rem;
}


/* ====================================== */
/* ======= < DM PROFILE WIDTH > ======= */
/* ==================================== */
.userPanelOuter_c69a7b.userProfileOuterThemed_c69a7b.theme-dark.custom-theme-background.custom-profile-theme.container_ecc60d,
.userPanelOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.container_ecc60d {
  width: 240px;
}
.banner_c3e427.divider_c3e427.panelBanner_c3e427.bannerPremium_c3e427 {
  margin-left: -100px;
}


/* ===================================== */
/* ======= < SERVER NAME FONT > ======= */
/* =================================== */
.name_fd6364 {
  font-family: Discord;
}


/* ======================================================================================================================================= */
/* ============================================================== < CRAP > ============================================================== */
/* ===================================================================================================================================== */


/* ============================================================================= */
/* =================== < CENTER THE CUSTOM STATUS EMOJI IF NO TEXT > ========== */
/* =========================================================================== */
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
  margin: auto;
}

/* ================================================================= */
/* ======= < ADD DANGER COLOURS TO DANGEROUS USER ACTIONS > ======= */
/* =============================================================== */
#user-context-close-dm,
#user-context-remove-friend,
#user-context-block {
  color: var(--status-danger)
}

#user-context-close-dm:active,
#user-context-remove-friend:active,
#user-context-block:active {
  background-color: var(--red-500) !important;
  color: var(--white-500) !important;
}

#user-context-close-dm[class*="focused-"],
#user-context-remove-friend[class*="focused-"],
#user-context-block[class*="focused-"] {
  background-color: var(--button-danger-background);
  color: var(--white-500);
}


/* ======================================================== */
/* ======= < REMOVES DARK BARS IN SOME TOOLTIPS > ======= */
/* ===================================================== */
[class^=form-]:before,
[class^=children-]:after {
  display: none;
}

.voiceChannelsButton_a08117 {
  display: none;
}

/* ==================================================?=============== */
/* ======= < ANIMATION ON CHANNEL/SETTINGS/DMS/MEMBER LIST > ======= */
/* ================================================================ */
.wrapper_d8bfb3 .link_d8bfb3, /* channels */
.container_e9f61e, /* members */ 
.channel_c91bad, /* dms */
.side_a0 .item_a0 {
  transition: margin-left 0.2s ease;
}

.wrapper_d8bfb3:hover .link_d8bfb3,
.side_a0 .item_a0:hover {
  margin-left: 10px;
}

.container_e9f61e:hover,
.channel_c91bad:hover {
  margin-left: 18px;
}


/*moves vc hang status to the left*/
/*[class^="iconGroup"]:has([class*="hangStatusIcon"]) {
  position: absolute;
  right: 183px;
}
[aria-label="Add a status"],
[aria-label*="Playing"] {
  position: absolute;
  right: 198px;
}*/



/* ----------------------------------------------------------------------------- */

/* =========================================== */
/* ======= < PRETTY SERVER CHANNELS > ======= */
/* ========================================= */

:root {
  --highlight-select: linear-gradient(-45deg, hsla(262, 63%, 70%, 0.219) 60%, hsla(320, 71%, 89%, 0.24));
  --highlight-icon: hsl(240, 30%, 73%);
}

/* channel outlines and highlighted icons */
#app-mount .containerDefault_f6f816.selected_f6f816 .wrapper_d8bfb3 .link_d8bfb3 {
  background: var(--highlight-select);
  border-radius: 12px;
}

.icon_d8bfb3 {
  width: 18px;
  height: 18px;
}

[aria-label="Channels"] [class^="content"],
[class^="popout-"] [class^="row-"] {
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}

[aria-label="Channels"] [class^="content"]:hover,
[class^="popout-"] [class^="row-"]:hover {
  border-color: var(--highlight-icon)!important;
}

.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
#app-mount .containerDefault_f6f816.selected_f6f816 .wrapper_d8bfb3 .icon_d8bfb3,
#app-mount .containerDefault_f6f816:hover .wrapper_d8bfb3 .icon_d8bfb3 {
  color: var(--highlight-icon)!important;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

